<div class = "hahah">
</div>
<b> 3. Payment method </b>
<div class="card" style="width: 50rem;">
  <div class = "card-body" >
    <div id="payment-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <%= simple_form_for :card_info, url: process_payment_shopping_carts_path, method: :post do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">First Name:</label>
                  <%= f.input :first_name, label: false, placeholder: "First name", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Last Name:</label>
                  <%= f.input :last_name, label: false, placeholder: "Last name", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Card Type:</label>
                  <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, class:"form-control" %>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Card number:</label>
                  <%= f.input :card_number, label: false, placeholder: "Add card number", class: "cc form-control", input_html: { maxlength: 16 } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Expiry Date:</label>
                  <div class="row">
                    <div class="col-md-10 form-inline">
                      <%= f.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), add_month_numbers: true,
                        class:"form-control" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Card_verification:</label>
                  <%= f.input :card_verification, label: false, placeholder: "Add cvc number", class: "form-control", input_html: { maxlength: 4 } %>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="cart_buttons">
      <%= link_to "Continue Shopping", shop_path, class: "button cart_button_checkout" %>
      <%= f.submit class: "button cart_button_checkout", value: "Confirm and Pay" %>
    </div>
  </div>
</div>
<% end %>
