<h1 style="    margin-top: 52px;">Chatting with <%= @conversation.with(current_user).first_name %></h1>

<div id="conversation-main">
  <div style="    margin-left: 20px;" id="conversation-body" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.personal_messages %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
  <% end %>
</div>