<div class="card">
  <div class="card-body">
    <div class="row px-lg-2 px-2">
      <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">
        <div class="chat-message" >
          <ul class="list-unstyled chat" id="conversation-body" data-conversation-id="<%= @conversation.id %>">
            <% @conversation.personal_messages.last(5).each do |message| %>
              <li class="d-flex mb-4">
                <%= image_tag user_chat_image(message), size: "50x50"%>
                <div class="chat-body white p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font"><%= message.user.email %></strong>
                    <small class="pull-right text-muted"><i class="far fa-clock"></i>
                      <%= time_ago_in_words(message.created_at) %>
                    </small>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    <%= message.body %>
                    <% if message.avatar.present? %>
                      <%= image_tag message.avatar.url(:thumb) %>
                    <% end %>
                  </p>
                </div>
              </li>
              <% end %>
            <li class="white">
              <div class="form-group basic-textarea">
                <%= form_for @personal_message, html: { multipart: true }, remote: true do |f| %>
                  <%= hidden_field_tag 'conversation_id', @conversation.id %>
                 <%= f.text_area :body, label: false, class:"form-control pl-2 my-0", id:"personal_message_body" %>
                 <%= f.file_field :avatar %>
              </div>
            </li>
              <%= f.submit "Send", class: "btn btn-info btn-rounded btn-sm waves-effect waves-light float-right", id: "send_mess" %>
              <% end %>
          </ul>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>

<script>
  // $('#personal_message_body').keypress(function (e) {
  //   if (e.which == 13) {
  //     $('#send_mess').click();
  //     $('#personal_message_body').val('')
  //   }
  // });
</script>
