<div class = "row d-none d-sm-block">
  <div class=  "float-left ml-5" >
    <div>
      <%= link_to @category.name, sub_categories_path(category: @category.id) %> >
    </div>
    <% @sub_categories.each do |sub_category| %>
    <ol class = "pl-5"> <%= link_to sub_category.name, sub_categories_path(sub_category: sub_category.id) %></ol>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class= "col-12 ml-auto col-lg-12">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg-3 col-6">
          <div class="product_item is_new" id="product_<%= product.id %>">
            <%= link_to product_path(id: product.id) do %>
              <div class="product_image d-flex flex-column align-items-center justify-content-center mt-5">
                <img src="<%= product.product_images.first.image.url(:original) if product.product_images.present? %>" alt="">
                <img src="<%= product.product_images.second.image.url(:original) if product.product_images.present? && product.product_images.second.present? %>" alt="">
              </div>
            <% end %>
            <div class="product_content mt-5">
              <div class="product_name">
                <div>
                  <a href="<%= product_path(id: product.id) %>" tabindex="0"><%= product.name %></a>
                </div>
              </div>
              <div class="product_price">$<%= product.price %></div>
            </div>
            <% if check_favorite(product.id) == true %>
              <%= link_to remove_favorite_path(product_id: product.id), class: "fav_link", remote: true do %>
                <div class="product_fav active" id="<%= "in_product_#{product.id}"%>">
                  <i class="fas fa-heart"></i>
                </div>
              <% end %>
            <% else %>
              <%= link_to add_favorite_path(product_id: product.id), class: "fav_link", remote: true do %>
                <div class="product_fav" id="<%= "in_product_#{product.id}"%>">
                  <i class="fas fa-heart"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>
<%= will_paginate @products %>
</div>
<style type="text/css">
@media screen and (min-height: 550px) {
.product_item {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 24px;
    text-align: center;
    padding-right: 15px
}
.product_image img {
    display: block;
    position: relative;
    max-width: 100%;
}
.product_image {
    width: 100%;
    height: auto;
}
.product_content {
  width: 100%;
}
.product_price {
    font-size: 16px;
    margin-top: 25px;
    color: #f60;
    font-weight: 700;
}
.product_name {
    margin-top: 4px;
    overflow: hidden;
}
.product_name div 
a {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    white-space: initial; 
    transition: all 200ms ease;
}
.product_name div {
    width: 100%;
}
}
@media screen and (max-width: 450px) {
  .product_item {
    padding-top: 0;
    width: 80px;
  }
  .product_image {
    height: 0;
  }
  .product_price {
    font-size: 10px;
    color: #f60;
  }
  .product_name div a {
    font-size: 6px;
    white-space: nowrap;
  }
  }
</style>
