<div class="cart_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 offset-lg-1">
        <div class="cart_container">
          <div class="cart_title">Shopping Cart</div>
          <div class="cart_items">
            <ul class="cart_list">
              <% if !session[:shop_cart].nil? && session[:shop_cart].count > 0 %>
              <% session[:shop_cart].each do |product| %>
                  <li class="cart_item clearfix">
                    <%= link_to "Remove Item", home_remove_item_from_cart_path(product: product_details(product[0].to_i).id), class:"float-right" %>
                    <div class = "row">
                      <div class="col-lg-2">
                        <div class="cart_item_title">Product Image</div>
                        <div class = "cart_item_text">
                          <img src="<%= product_details(product[0].to_i).product_images.first.image.url(:thumb) if product_details(product[0].to_i).product_images.present? %>" alt="">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="cart_item_title">Name & Description</div>
                        <div class="cart_item_text"> <%= link_to product_details(product[0].to_i).description.truncate(50), product_path(id: product_details(product[0].to_i).id) %> </div>
                        <span class="cart_item_title"> Color: </span> <%= product[3] %><br>
                        <span class="cart_item_title"> Size: </span> <%= product[2] %>
                      </div>
                      <div class="col-lg-1">
                        <div class="cart_item_title">Quantity</div>
                        <div class="cart_item_text"><%= product[1] %></div>
                      </div>
                      <div class="col-lg-1">
                        <div class="cart_item_title">Price</div>
                        <div class="cart_item_text"><%= number_to_currency(product_details(product[0].to_i).price*product[1].to_i) %></div>
                      </div>
                      <div class="col-lg-2">
                        <div class="cart_item_title">Shipping Fee</div>
                        <div class="cart_item_text"><%= number_to_currency(product[4].to_i*product[1].to_i) %></div>
                      </div>
                      <div class="col-lg-2">
                        <div class="cart_item_title">Total</div>
                        <div class="cart_item_text"><%= number_to_currency(product_details(product[0].to_i).price*product[1].to_i+product[4].to_i*product[1].to_i) %></div>
                      </div>
                    </div>
                    <hr>
                  </li>
              <% end %>
                  <% else %>
                  <% if @order_items.present? %>
                  <% @order_items.each do |product| %>
                      <li class="cart_item clearfix">
                        <%= link_to "Remove Item", home_remove_item_from_cart_path(order_item: product), class:"float-right" %>
                        <div class="cart_item_image"><img src="<%= product_details(product.product_id).product_images.first.image.url(:thumb) if product_details(product.product_id).product_images.present? %>" alt=""></div>
                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                          <div class="cart_item_name cart_info_col">
                            <div class="cart_item_title">Name</div>
                            <div class="cart_item_text"><%= product_details(product.product_id).name.truncate(18) %></div>
                          </div>
                          <div class="cart_item_color cart_info_col">
                            <div class="cart_item_title">Color</div>
                            <div class="cart_item_text"><%= product.color %></div>
                          </div>
                          <div class="cart_item_quantity cart_info_col">
                            <div class="cart_item_title">Quantity</div>
                            <div class="cart_item_text"><%= product.quantity %></div>
                          </div>

                          <div class="cart_item_quantity cart_info_col">
                            <div class="cart_item_title">Shipping Fee</div>
                            <div class="cart_item_text"><%= number_to_currency(product.shipping.to_i*product.quantity) %></div>
                          </div>
                          <div class="cart_item_price cart_info_col">
                            <div class="cart_item_title">Price</div>
                            <div class="cart_item_text"><%= number_to_currency(product_details(product.product_id).price*product.quantity.to_i) %></div>
                          </div>
                          <div class="cart_item_total cart_info_col">
                            <div class="cart_item_title">Total</div>
                            <div class="cart_item_text"><%= number_to_currency((product_details(product.product_id).price+product.shipping.to_i)*product.quantity) %></div>
                          </div>
                        </div>
                      </li>
                  <% end %>
                  <% end %>
              <% end %>
            </ul>
          </div>

          <!-- Order Total -->
          <div class="order_total">
            <div class="order_total_content text-md-right">
              <div class="order_total_title">Order Total:</div>
              <div class="order_total_amount"><%= number_to_currency(cart_total) %></div>
            </div>
          </div>

          <div class="cart_buttons">
            <%= link_to "Checkout", checkout_path(value: "review_order"), class: "button cart_button_checkout" %>
            <%= link_to "Continue Shopping", root_path, class: "button cart_button_checkout" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
