<div class="cart_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="purchase-main">
          <ol class="progress-bar">
            <% if @value == "review_order" %>
              <li class="progress-bar__steps current">
                <span class="progress-bar__steps--text ">Review your Order</span>
              </li>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text">Payment</span>
              </li>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text">Done</span>
              </li>
            <% elsif @value == "payment" %>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text ">Review your Order</span>
              </li>
              <li class="progress-bar__steps current">
                <span class="progress-bar__steps--text">Payment</span>
              </li>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text">Done</span>
              </li>
            <% elsif @value == "done" %>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text ">Review your Order</span>
              </li>
              <li class="progress-bar__steps">
                <span class="progress-bar__steps--text">Payment</span>
              </li>
              <li class="progress-bar__steps current">
                <span class="progress-bar__steps--text">Done</span>
              </li>
            <% end %>
          </ol>
        </div>
        <b> 1. Select your shipping information: </b>
      </div>
    </div>
    <div id="review-order-panel">
      <div class="row" id="address-group-penal">
        <div class="col-lg-10 offset-lg-1">
          <div class="adress-panel">
            <div class="default">
              <p>Default address</p>
            </div>
            <div class="panel-body">
              <div class="row">
                <input type="radio" checked>
                <label><%= current_user.shipping.name if current_user.shipping.present? %></label>
              </div>
              <div class="row">
                <div class="caption">
                  <img src="/assets/contact_3.png" alt="">
                  <p><%= "#{current_user.shipping.street_address_one}, #{current_user.shipping.street_address_two}" if current_user.shipping.present? %></p>
                  <p><%= "#{current_user.shipping.city}, #{current_user.shipping.state}, #{current_user.shipping.postal_code}"if current_user.shipping.present? %></p>
                  <p><%= current_user.shipping.cntry_name if current_user.shipping.present? %></p>
                </div>
              </div>
              <div class="row">
                <div class="caption">
                  <img src="/assets/phone.png" alt="">
                  <p><%= current_user.shipping.mobile if current_user.shipping.present? %></p>
                </div>
              </div>
            </div>
            <div class="edit">
              <a href="#" class="show-inputs-group">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
              </a>
            </div>
          </div>
          <a href="#" class="show-inputs-group">
            <span class="glyphicon glyphicon-plus"></span>
            Add a new address
          </a>
        </div>
      </div>
      <div class="row" id="form-inputs-group">
        <div class="col-lg-6 offset-lg-1">
          <%= simple_form_for @shipping, url: create_shipping_path, method: :post do |f| %>
            <div class="form-group row">
              <label class="form-label col-md-3">Contact Name:</label>
              <div class="col-md-9">
                <%= f.input :name, class: "form-control", label: false, required: true %>
              </div>
            </div>


            <div class="form-group row">
              <label class="form-label col-md-3">Street Address:</label>
              <div class="col-md-9">
                <div id="locationField">
                  <%= f.input :street_address_one, class: "form-control", label: false, required: true, prompt: "Street address", :input_html => { :onFocus => "geolocate()", :id => "autocomplete"} %>

                </div>

                <%= f.input :street_address_two, class: "form-control", label: false, required: true, placeholder: "Apartment, suite, unit etc." %>
<!--                <input type="text" placeholder="Street address" class="form-control">-->
<!--                <input type="text" placeholder="Apartment, suite, unit etc. (optional)" class="form-control">-->
              </div>
            </div>
              <div id="address">
            <div class="form-group row">
              <label class="form-label col-md-3">Country/Region:</label>
              <div class="col-md-9">
                <%= f.input :cntry_name, class: "form-control", label: false, required: true, :input_html => { :id => "country"} %>
                <!--                <select class="form-control">-->
                <!--                  <option value="example">example</option>-->
                <!--                  <option value="example">example</option>-->
                <!--                  <option value="example">example</option>-->
                <!--                </select>-->
              </div>
            </div>

            <div class="form-group row">
              <label class="form-label col-md-3">State/Province:</label>
              <div class="col-md-9">
                <%= f.input :state, class: "form-control", label: false, required: true , :input_html => { :id => "administrative_area_level_1"}%>
<!--                <select class="form-control">-->
<!--                  <option value="example">example</option>-->
<!--                  <option value="example">example</option>-->
<!--                  <option value="example">example</option>-->
<!--                </select>-->
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">City:</label>
              <div class="col-md-9">
                <%= f.input :city, class: "form-control", label: false, required: true, :input_html => { :id => "locality"} %>
              </div>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-3">Zip/Postal Code:</label>
              <div class="col-md-9">
                <%= f.input :postal_code, class: "form-control", label: false, required: true , :input_html => { :id => "postal_code"}%>
<!--                <input type="text" class="form-control">-->
              </div>
            </div>
              </div>
            <div class="form-group row">
              <label class="form-label col-md-3">Mobile:</label>
              <div class="col-md-9">
                <%= f.input :mobile, class: "form-control", label: false, required: true, id: "mobile_no" %>
<!--                <input type="text" class="form-control">-->
              </div>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= hidden_field_tag "value", "review_order" %>

            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <div class="cart_buttons" id="shipping_form_button">

                  <%= link_to "Cancel", shop_path, class: "button cart_button_clear" %>
                  <%= f.submit 'Submit', class: "button cart_button_checkout" %>
                  <!--            <button type="button" class="button cart_button_checkout">Submit</button>-->
                </div>
              </div>
            </div>
            </div>
            </div>
          <% end %>
          </div>

    <div id="payment-done-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="thanksforshoping">
            <img src="/assets/char_1.png" alt="">
            <p>Thanks for shoping with us</p>
          </div>
        </div>
      </div>
    </div>
    <% if @value != "done" %>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cart_container">
            <div class="cart_items">
              <div class="checkout_review_items"> 2. Review and confirm your order (<%= @order_items.size %>): </div>
              <ul class="cart_list mb-5">
                <% if !session[:shop_cart].nil? && session[:shop_cart].count > 0 %>
                  <% session[:shop_cart].each do |product| %>
                    <li class="cart_item clearfix">
                      <div class="cart_item_image"><img src="<%= product_details(product[0].to_i).product_images.first.image.url(:thumb) if product_details(product[0].to_i).product_images.present? %>" alt=""></div>
                      <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                        <div class="cart_item_name cart_info_col">
                          <div class="cart_item_title">Name</div>
                          <div class="cart_item_text"><%= product_details(product[0].to_i).name.truncate(18) %></div>
                        </div>
                        <div class="cart_item_color cart_info_col">
                          <div class="cart_item_title">Color</div>
                          <div class="cart_item_text"><%= product[3] %></div>
                        </div>
                        <div class="cart_item_quantity cart_info_col">
                          <div class="cart_item_title">Quantity</div>
                          <div class="cart_item_text"><%= product[1] %></div>
                        </div>
                        <div class="cart_item_quantity cart_info_col">
                          <div class="cart_item_title">Shipping Fee</div>
                          <div class="cart_item_text"><%= number_to_currency(product[4].to_i*product[1].to_i) %></div>
                        </div>
                        <div class="cart_item_price cart_info_col">
                          <div class="cart_item_title">Price</div>
                          <div class="cart_item_text"><%= number_to_currency(product_details(product[0].to_i).price*product[1].to_i) %></div>
                        </div>
                        <div class="cart_item_total cart_info_col">
                          <div class="cart_item_title">Total</div>
                          <div class="cart_item_text"><%= number_to_currency(product_details(product[0].to_i).price*product[1].to_i+product[4].to_i*product[1].to_i) %></div>
                        </div>
                      </div>
                    </li>
                  <% end %>
                <% else %>
                  <% if @order_items.present? %>
                    <% @order_items.each do |product| %>
                      <li class="cart_item clearfix">
                        <div class="cart_item_image"><img src="<%= product_details(product.product_id).product_images.first.image.url(:thumb) if product_details(product.product_id).product_images.present? %>" alt=""></div>
                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                          <div class="cart_item_name cart_info_col">
                            <div class="cart_item_title">Name</div>
                            <div class="cart_item_text"><%= product_details(product.product_id).name.truncate(18) %></div>
                          </div>
                          <div class="cart_item_color cart_info_col">
                            <div class="cart_item_title">Color</div>
                            <div class="cart_item_text"><%= product.color %></div>
                          </div>
                          <div class="cart_item_quantity cart_info_col">
                            <div class="cart_item_title">Quantity</div>
                            <div class="cart_item_text"><%= product.quantity %></div>
                          </div>

                          <div class="cart_item_quantity cart_info_col">
                            <div class="cart_item_title">Shipping Fee</div>
                            <div class="cart_item_text"><%= number_to_currency(product.shipping.to_i*product.quantity) %></div>
                          </div>
                          <div class="cart_item_price cart_info_col">
                            <div class="cart_item_title">Price</div>
                            <div class="cart_item_text"><%= number_to_currency(product_details(product.product_id).price*product.quantity.to_i) %></div>
                          </div>
                          <div class="cart_item_total cart_info_col">
                            <div class="cart_item_title">Total</div>
                            <div class="cart_item_text"><%= number_to_currency((product_details(product.product_id).price+product.shipping.to_i)*product.quantity) %></div>
                          </div>
                        </div>
                      </li>
                      <hr>
                    <% end %>
                  <% end %>
                <% end %>
                            <div class="order_total">
              <div class="order_total_content text-md-right">
                <div class="order_total_title">Order Total:</div>
                <div class="order_total_amount"><%= number_to_currency(cart_total) %></div>
              </div>
            </div>
              </ul>
            </div>

            <!-- Order Total -->
    <b> 3. Payment method </b>
    <div class="card" style="width: 50rem;">
    <div class = "card-body" >
    <div id="payment-panel">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <%= simple_form_for :card_info, url: add_card_path, method: :post do |f| %>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Card number:</label>
  <!--                  <input type="text" class="cc form-control" />-->
                  <%= f.input :card, label: false, placeholder: "Add card number", class: "cc form-control", input_html: { maxlength: 16 } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Expiry Date:</label>
                  <div class="row">
                    <div class="col-md-5">
                      <%= f.hidden_field :month, value: "", class: "form-control", id: "month_input" %>
                      <%= select_month(Date.today,
                                       {:add_month_numbers => false},
                                       :class => 'form-control'
                          ) %>
  <!--                      <input type="text" placeholder="MM" class="form-control" />-->
                    </div>
                    <div class="col-md-1">
                      <p class="divider">/</p>
                    </div>
                    <div class="col-md-5">
                      <%= f.hidden_field :year, value: "", class: "form-control", id: "year_input" %>
                      <%= select_year(Date.today.year, {:field_name => "year", :start_year => Date.today.year, :end_year => Date.today.year+10}, {:class => "form-control"}) %>
  <!--                      <input type="text" placeholder="YY" class="form-control" />-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">CVC:</label>
                  <!--                  <input type="text" class="cc form-control" />-->
                  <%= f.input :cvc, label: false, placeholder: "Add cvc number", class: "form-control", input_html: { maxlength: 4 } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="card-label form-label">Cardholder Name:</label>
                  <!--                  <input type="text" class="cc form-control" />-->
                  <%= f.input :name, label: false, placeholder: "Add card name", class: "form-control" %>
                </div>
              </div>
            </div>
  <!--            <div class="row">-->
  <!--              <div class="col-md-6">-->
  <!--                <div class="form-group">-->
  <!--                  <label class="form-label">Cardholder Name:</label>-->
  <!--                  <div class="row">-->
  <!--                    <div class="col-md-6">-->
  <!--                      <input type="text" placeholder="First Name" class="form-control" />-->
  <!--                    </div>-->
  <!--                    <div class="col-md-6">-->
  <!--                      <input type="text" placeholder="Last Name" class="form-control" />-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->
          </div>
      </div>
    </div>
  </div>
</div>
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <div class="cart_buttons">
  <!--                  <button type="button" class="button cart_button_clear">Cancel</button>-->
              <%= link_to "Continue Shopping", root_path, class: "button cart_button_checkout" %>
                              <%= f.submit class: "button cart_button_checkout", value: "Confirm and Pay" %>
  <!--                  <button type="button" class="button cart_button_checkout">Done</button>-->
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
<% if current_user.shipping.nil? %>
  <style>
    #address-group-penal{
      display: none;
    }
    #form-inputs-group{
      display: block;
    }
  </style>
<% end %>
<% if current_user.present? && current_user.shipping.present? %>
  <style>
    #address-group-penal{
      display: block;
    }
    #form-inputs-group{
      display: none;
    }
      #continue_to_payment{
        display: block;
      }
      #shipping_form_button{
        display: none;
      }
  </style>
  <% else %>
  <style>
    #continue_to_payment{
      display: none;
    }
    #shipping_form_button{
      display: block;
    }
  </style>
<% end %>
<style>
  .form_border {
    border-color: #28a745
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/13.0.2/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/13.0.2/img/flags@2x.png"></script>
<script>
    $( document ).ready(function() {
        $('#month_input').val($('#date_month').val());
        $('#year_input').val($('#date_year').val());
        $('#date_month').on('change', function() {
            $('#month_input').val( this.value );
        });
        $('#date_year').on('change', function() {
            $('#year_input').val( this.value );
        });
        $(".progress-bar").css("flex-direction", "row");
        $('.show-inputs-group').click(function () {
            $('#address-group-penal').hide('slow');
            $('#form-inputs-group').show('slow');
            $('#shipping_form_button').show('slow');
            $('#continue_to_payment').hide('slow');
        });
        $(document).ready(function () {
            var pro = document.getElementsByClassName('progress-bar');
            var liarray = pro[0].getElementsByTagName('li');
            for (var i = 0; i < liarray.length; i++) {
                if (i === 0 && liarray[i].className === 'progress-bar__steps current') {
                    $('#review-order-panel').show();
                    $('#payment-done-panel').hide();
                } else if (i === 1 && liarray[i].className === 'progress-bar__steps current') {
                    $('#review-order-panel').hide();
                    $('#payment-panel').show();
                    $('#payment-done-panel').hide();
                } else if (i === 2 && liarray[i].className === 'progress-bar__steps current') {
                    $('#review-order-panel').hide();
                    $('#payment-panel').hide();
                    $('#payment-done-panel').show();
                }
            }
        });

        function checkLuhn(input) {
            var sum = 0;
            var numdigits = input.length;
            var parity = numdigits % 2;
            for (var i = 0; i < numdigits; i++) {
                var digit = parseInt(input.charAt(i))
                if (i % 2 == parity) digit *= 2;
                if (digit > 9) digit -= 9;
                sum += digit;
            }
            return (sum % 10) == 0;
        };

        function detectCard(input) {
            var typeTest = 'undefined',
                ltest1 = 16,
                ltest2 = 16;
            if (/^4/.test(input)) {
                typeTest = 'visa';
                ltest1 = 13;
            } else if (/^5[1-5]/.test(input)) {
                typeTest = 'mastercard';
            } else if (/^3[4-7]/.test(input)) {
                typeTest = 'amex';
                ltest1 = 15;
                ltest2 = 15;
            } else if (/^6(011|4[4-9]|5)/.test(input)) {
                typeTest = 'discover';
            }
            return [typeTest, ltest1, ltest2];
        }


        $('input.cc').keyup(function () {
            var val = this.value,
                val = val.replace(/[^0-9]/g, ''),
                detected = detectCard(val),
                errorClass = '',
                luhnCheck = checkLuhn(val),
                valueCheck = (val.length == detected[1] || val.length == detected[2]);
            if (luhnCheck && valueCheck) {
                errorClass = 'verified';
            } else if (valueCheck || val.length > detected[2]) {
                errorClass = 'error';
            }

            $(this).attr('class', 'cc ' + detected[0] + ' ' + errorClass);
        });

        $("#card_info_card").addClass("cc");
        $("#shipping_mobile").intlTelInput({
            allowExtensions: true,
            autoFormat: true,
            autoHideDialCode: true,
            autoPlaceholder: true,
            preferredCountries: ['us', 'gb'],
            defaultCountry: 'auto',
            ipinfoToken: 'yolo',
            nationalMode: false,
            numberType: 'MOBILE',
            preventInvalidNumbers: true
        });
        var imageUrl = "/assets/flags@2x.png";
        $('.iti-flag').css('background-image', 'url(' + imageUrl + ')');
    });
</script>
<script>
    var placeSearch, autocomplete;
    var componentForm = {
        // street_number: 'short_name',
        // route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4c-wNONsOUCrHcva6LSl6Yznh1ZKPA-s&libraries=places&callback=initAutocomplete"
        async defer></script>
