<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"
           data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% if @product.present? %>
            <% @product.product_images.each_with_index do |image, index| %>
              <div class="carousel-item" id="<%= "product_large_#{index}" %>">
                <img class="d-block w-100 zoome" id="<%= "product_img_#{index}" %>" src="<%= image.image.url(:original) if image.present? %>" alt="First slide">
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="go-left"><</a>
        <ol class="carousel-indicators" id="carousel-thumb-hover">
          <% if @product.present? %>
            <% @product.product_images.each_with_index do |image, index| %>
              <li data-target="#carousel-thumb" data-slide-to="<%= index %>" id="<%= "product_small_#{index}" %>">
                <img class="d-block w-100" src="<%= image.image.url(:original) if image.present? %>" class="img-fluid">
              </li>
            <% end %>
          <% end %>
       
        </ol>
           <a class="go-right">></a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="magnifier-preview" id="preview"></div>
      <a href="#">
        <p class="title"><%= @product.name if @product.present? %></p>
      </a>
      <div class="des-text">
        <ul id="proInfo" class="clearfix">
          <% @product.product_specifications.each do |specs| %>
            <li><span><%= specs.spec_key %>:</span><em class="c666"><%= specs.spec_value %></em>
            </li>
          <% end %>
<!--          <li id="all_dispath" data24="Within 24 hours" data5d="Within 5 days"><span>Dispatch:</span><em>Within-->
<!--            5 days</em></li>-->
<!--          <li><span>Material :</span><em>Artificial Fur</em></li>-->
<!--          <li><span>Design:</span><em>Slim,contrast color,Plus Size</em></li>-->
<!--          <li><span>Craft:</span><em>patchwork</em></li>-->
<!--          <li><span>Type:</span><em>Women Coat</em></li>-->
<!--          <li><span>Pattern Style:</span><em>leopard</em></li>-->
<!--          <li><span>Style:</span><em>European and American style</em></li>-->
<!--          <li><span>Sleeve:</span><em>long sleeve</em></li>-->
<!--          <li><span>Collar:</span><em>lapel collar</em></li>-->
<!--          <li><strong class="red">In Stock - Available</strong></li>-->
<!--          <li class="undis" style="display: none;"><span>Packing:</span><em id="sonpropacking"></em></li>-->
<!--          <li class="undis" style="display: list-item;"><span>Weight:</span><em id="son_weight">510 gram</em></li>-->
        </ul>
      </div>
      <div class="select_alls" id="sonProduce">
        <ul>
          <li data-size="Size" class="li_text">
            <p>Size:</p>
            <div class="w_100 sizecheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <% @product.sizes.all.each_with_index do |size, index| %>
                <span data-title="<%= size.name %>" data-value="<%= size.name %>" id="size_checkbox_<%= index %>"><%= size.name %></span>
              <% end %>
            </div>
<!--            <div id="size-tips" class="tips-content undis" style="display: block;">-->
<!--              <p class="content" id="sizeContent">-->
<!--                <font class="fs12 fb">Bust</font>:96cm, <font class="fs12 fb">Shoulder</font>:38cm,-->
<!--                <font class="fs12 fb">Sleeve Length</font>:60cm, <font class="fs12 fb">Top Length</font>:82cm-->
<!--              </p>-->
<!--            </div>-->
          </li>
        </ul>
      </div>
      <div class="select_alls" id="sonProduce">
        <ul>
          <li data-size="Size" class="li_text">
            <p>Color:</p>
            <div class="w_100 colorcheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <% @product.colors.all.each_with_index do |color, index| %>
                <span data-title="<%= color.name %>" data-value="<%= color.name %>" id="color_checkbox_<%= index %>"><%= color.name %></span>
              <% end %>
            </div>
            <!--            <div id="size-tips" class="tips-content undis" style="display: block;">-->
            <!--              <p class="content" id="sizeContent">-->
            <!--                <font class="fs12 fb">Bust</font>:96cm, <font class="fs12 fb">Shoulder</font>:38cm,-->
            <!--                <font class="fs12 fb">Sleeve Length</font>:60cm, <font class="fs12 fb">Top Length</font>:82cm-->
            <!--              </p>-->
            <!--            </div>-->
          </li>
        </ul>
      </div>
      <div class="select_alls" id="sonProduce">
        <ul>
          <li data-size="Size" class="li_text">
            <p>Shipping:</p>
            <div class="w_100 shippingcheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <% ShippingPrice.all.each_with_index do |shipping, index| %>
                <span data-title="<%= shipping.name %>" data-value="<%= shipping.price %>" id="shipping_checkbox_<%= index %>"><%= shipping.name %></span>
              <% end %>
            </div>
            <!--            <div id="size-tips" class="tips-content undis" style="display: block;">-->
            <!--              <p class="content" id="sizeContent">-->
            <!--                <font class="fs12 fb">Bust</font>:96cm, <font class="fs12 fb">Shoulder</font>:38cm,-->
            <!--                <font class="fs12 fb">Sleeve Length</font>:60cm, <font class="fs12 fb">Top Length</font>:82cm-->
            <!--              </p>-->
            <!--            </div>-->
          </li>
        </ul>
      </div>
      <div class="sizechanginch undis" style="display: block;">
        <p id="sizeShow" data-toggle="collapse" data-target="#demo" class="collapse-title collapsed" style="border-bottom: 0px solid;">
          <!-- <span class="icon-add pull-right"> -->
          <!-- <img width="20" height="20" src="/assets/minus.png"> -->
          <!-- </span> -->
          <i class="fa" aria-hidden="true"></i>Size Guide</p>
        <div class="size undis collapse" id="demo">

          <div class="btn-group">
            <button id="size_table" type="button" data-flag="cm" class="btn btn-primary">Centimeters</button>
            <button id="size_inch" type="button" data-flag="inch" class="btn btn-default">inch</button>
            <button id="size_img" type="button" data-flag="img" class="btn btn-default">How To Measure</button>
          </div>
          <div class="fs16 ml15 pt15 fb indis">1(in)=2.5399(cm)</div>
          <div class="table-container">
            <div class="size_img" style="display: none;"><img src="https://gimg3.fbeads.us/produceSort/20170822/1503369203.jpg"></div>
            <table class="size_inch" style="display: none;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">35.88</td>
                <td class="size_change" data-key="Shoulder" data-init="37">14.43</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">23.01</td>
                <td class="size_change" data-key="Top Length" data-init="81">31.59</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">37.44</td>
                <td class="size_change" data-key="Shoulder" data-init="38">14.82</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">23.40</td>
                <td class="size_change" data-key="Top Length" data-init="82">31.98</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">39.00</td>
                <td class="size_change" data-key="Shoulder" data-init="39">15.21</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">23.79</td>
                <td class="size_change" data-key="Top Length" data-init="83">32.37</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">40.56</td>
                <td class="size_change" data-key="Shoulder" data-init="40">15.60</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">24.18</td>
                <td class="size_change" data-key="Top Length" data-init="84">32.76</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">42.12</td>
                <td class="size_change" data-key="Shoulder" data-init="41">15.99</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">24.57</td>
                <td class="size_change" data-key="Top Length" data-init="85">33.15</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">43.68</td>
                <td class="size_change" data-key="Shoulder" data-init="42">16.38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">24.96</td>
                <td class="size_change" data-key="Top Length" data-init="86">33.54</td>
              </tr>
              </tbody>
            </table>
            <table class="size_table" style="display: table;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">92</td>
                <td class="size_change" data-key="Shoulder" data-init="37">37</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">59</td>
                <td class="size_change" data-key="Top Length" data-init="81">81</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">96</td>
                <td class="size_change" data-key="Shoulder" data-init="38">38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">60</td>
                <td class="size_change" data-key="Top Length" data-init="82">82</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">100</td>
                <td class="size_change" data-key="Shoulder" data-init="39">39</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">61</td>
                <td class="size_change" data-key="Top Length" data-init="83">83</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">104</td>
                <td class="size_change" data-key="Shoulder" data-init="40">40</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">62</td>
                <td class="size_change" data-key="Top Length" data-init="84">84</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">108</td>
                <td class="size_change" data-key="Shoulder" data-init="41">41</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">63</td>
                <td class="size_change" data-key="Top Length" data-init="85">85</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">112</td>
                <td class="size_change" data-key="Shoulder" data-init="42">42</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">64</td>
                <td class="size_change" data-key="Top Length" data-init="86">86</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="proBtnbuy ow">
        <p>
          <span class="red">$ <%= @product.price if @product.present? %>/PC</span>QTY: <input name="Count" type="text" value="1" id="quantity_input" class="txt w50 mt5 mr5">
        </p>
        <!-- <p class="mt5"> -->
        <button type="button" class="btn btn-primary btn-sm" id="adding_products_in_cart">
          <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart
        </button>
        <% if check_favorite(@product.id) == true %>
          <%= link_to remove_favorite_path(product_id: @product.id), remote: true do %>
            <div class="fav product_fav active" id="in_product_<%=@product.id %>"><i class="fas fa-heart"></i></div>
          <% end %>
        <% else %>
          <%= link_to add_favorite_path(product_id: @product.id), remote: true do %>
            <div class="fav product_fav" id="in_product_<%=@product.id %>"><i class="fas fa-heart"></i></div>
          <% end %>
        <% end %>
<!--        <div class="fav">-->
<!--          <a href="javascript:void(0);"><i class="fa fa-heart" aria-hidden="true"></i></a>-->
<!--        </div>-->
        <!-- </p> -->
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pro-container">
        <div class="pro-container-header">
          <p>You May Also Like</p>
        </div>
        <div class="row">
          <% @related_products.each do |product| %>
            <div class="col-lg-2dot4">
              <div class="img-card">
                <img class="w-100" src="<%= product.product_images.first.image.url(:original) if product.product_images.present? %>" alt="">
                <a href="<%= product_path(id: product.id) %>"><p class="red"><%= product.name %></p></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for :add_product_to_cart, url: add_to_cart_path, :html => {:id => "cart_form_for"}, class: "header_search_form clearfix", method: :get do |f| %>
  <%= f.hidden_field :product_id, value: @product.id if @product.present? %>
  <%= f.hidden_field :quantity, value: 1 , id: "product_quantity_in_cart"%>
  <%= f.hidden_field :size, value: @product_size , id: "product_size_cart"%>
  <%= f.hidden_field :color, value: @product_colors , id: "product_color_cart"%>
  <%= f.hidden_field :shipping, value: @product_shipping , id: "product_shipping_cart"%>
<% end %>
<script>
    $( document ).ready(function() {
        $('#product_large_0').addClass('active');
        $('#product_small_0').addClass('active');
        $("#size_checkbox_0").click();
        $("#color_checkbox_0").click();
        $("#shipping_checkbox_0").click();
        $('.shippingcheckbox span').click(function(){
            $("#product_shipping_cart").val($(this).data('value'));
        });
        $('.colorcheckbox span').click(function(){
            $("#product_color_cart").val($(this).data('value'));
        });
        $('.sizecheckbox span').click(function(){
            $("#product_size_cart").val($(this).data('value'));
        });
        document.querySelector("#quantity_input").addEventListener("change",function () {
            $("#product_quantity_in_cart").val($(this).val());
        });
        $(document).on("click", "#adding_products_in_cart", function(e) {
            $("#adding_products_in_cart").html('Adding to cart...');
            $("#adding_products_in_cart").prop('disabled', true);
            $("#cart_form_for").submit();
        });
    });
</script>