
<div class="single_product">
  <div class="container">
    <div class="row">

      <!-- Images -->
      <div class="col-lg-2 order-lg-1 order-2">
        <ul class="image_list">
          <% @product.product_images.each do |image| %>
              <li id="image_slider_new" data-image="<%= image.image.url(:medium) if image.image.present? %>"><img src="<%= image.image.url(:medium) if image.image.present?%>" alt=""></li>
          <% end %>
          <!--<li data-image="/assets/single_2.jpg"><img src="/assets/single_2.jpg" alt=""></li>-->
          <!--<li data-image="/assets/single_3.jpg"><img src="/assets/single_3.jpg" alt=""></li>-->
        </ul>
      </div>

      <!-- Selected Image -->
      <div class="col-lg-5 order-lg-2 order-1">
        <div class="image_selected"><img id="main_image_show" src="<%= @product.product_images.first.image.url(:medium) if @product.product_images.present? %>" alt=""></div>
      </div>

      <!-- Description -->
      <div class="col-lg-5 order-3">
        <div class="product_description">
          <div class="product_category"><%= @product.sub_category.name if @product.sub_category.present? %></div>
          <div class="product_name"><%= @product.name if @product.name.present? %></div>
          <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
          <div class="product_text"><p><%= @product.description if @product.description.present? %></p></div>
          <div class="order_info d-flex flex-row">
            <form action="#">
              <div class="clearfix" style="z-index: 1000;">

                <!-- Product Quantity -->
                <div class="product_quantity clearfix">
                  <span>Quantity: </span>
                  <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                  <div class="quantity_buttons">
                    <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                    <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                  </div>
                </div>

                <!-- Product Color -->
                <ul class="product_color">
                  <li>
                    <span>Color: </span>
                    <div class="color_mark_container"><div id="selected_color" class="color_mark"></div></div>
                    <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>

                    <ul class="color_list">
                      <li><div class="color_mark" style="background: #999999;"></div></li>
                      <li><div class="color_mark" style="background: #b19c83;"></div></li>
                      <li><div class="color_mark" style="background: #000000;"></div></li>
                    </ul>
                  </li>
                </ul>

                <!-- Product Shipment -->
                <% if @product.product_shipments.present? %>
                <ul class="product_color">
                  <li>
                    <span>Shipments: </span>
                    <div class="color_mark_container"><div id="selected_color" class="color_mark"></div></div>
                    <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>

                    <ul class="color_list" style="width: 190px; ">
                      <% @product.product_shipments.each do |shipment| %>
                          <li><%= "#{shipment.name} - $#{shipment.price}" %></li>
                      <% end %>
                      <!--<li><div class="color_mark" style="background: #b19c83;"></div></li>-->
                      <!--<li><div class="color_mark" style="background: #000000;"></div></li>-->
                    </ul>
                  </li>
                </ul>
                <% end %>
              </div>

              <div class="product_price">$<%= @product.price if @product.price.present? %></div>
              <div class="button_container">
                <button type="button" class="button cart_button" id="adding_products_in_cart">Add to Cart</button>
                <% if check_favorite(@product.id) == true %>
                    <%= link_to remove_favorite_path(product_id: @product.id), remote: true do %>
                        <div class="product_fav active"><i class="fas fa-heart"></i></div>
                    <% end %>
                <% else %>
                    <%= link_to add_favorite_path(product_id: @product.id), remote: true do %>
                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                    <% end %>
                <% end %>
              </div>

            </form>
            <%= form_for :add_product_to_cart, url: add_to_cart_path, :html => {:id => "cart_form_for"}, class: "header_search_form clearfix", method: :get do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.hidden_field :quantity, value: "" , id: "product_quantity_in_cart"%>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
    $(document).on("click", "#image_slider_new", function() {
        $(".main_image_show").attr("src", $(this).data("image"));
    });
    $(document).on("click", "#adding_products_in_cart", function(e) {
        e.preventDefault();
        $("#product_quantity_in_cart").val($("#quantity_input").val());
        $("#cart_form_for").submit();
    });
</script>