<br>
  <div class=  "float-left ml-5" >
    <div class="" lass = "pl-5">
      <%= link_to @product.category.name, sub_categories_path(category: @product.category.id) %> >
    </div>
    <div class = "pl-3">
      <%= link_to @product.sub_category.name, sub_categories_path(sub_category: @product.sub_category.id) %> >
    </div>
    <% if @product.product_type.parent_product_type.present? %>
    <div class = "pl-5">
     <%=  link_to @product.product_type.parent_product_type.name, sub_categories_path(product_type: @product.product_type.parent_product_type.id) %> >
    </div>
    <% end %>
    <div class = "pl-5">
      <%= @product.product_type.name %>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"
           data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% if @product.present? %>
            <% @product.product_images.each_with_index do |image, index| %>
              <div class="carousel-item" id="<%= "product_large_#{index}" %>">
                <img class="d-block w-100 zoome" id="<%= "product_img_#{index}" %>" src="<%= image.image.url(:original) if image.present? %>" alt="First slide">
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="go-left"><</a>
        <ol class="carousel-indicators" id="carousel-thumb-hover">
          <% if @product.present? %>
            <% @product.product_images.each_with_index do |image, index| %>
              <li data-target="#carousel-thumb" data-slide-to="<%= index %>" id="<%= "product_small_#{index}" %>">
                <img class="d-block w-100"  data-source="<%= image.image.url(:original) %>" src="<%= image.image.url(:original) if image.present? %>" class="img-fluid">
              </li>
            <% end %>
          <% end %>
       
        </ol>
           <a class="go-right">></a>
      </div>
    </div>
    <div class="col-lg-6 sm-3">
      <a href="#">
        <p class="item_name"><%= @product.name if @product.present? %></p>
      </a>
      <hr>
      <span>Price:</span> <span class="item_price"> US $<%= @product.price %> </span>
      <% if current_user.present? && current_user.email == "admin@gmail.com" %>
        <a href="<%= @product.supplier_url %>" target="_blank">
          <p class="title" style="color: black;">Product vendor url</p>
        </a>
      <% end %>
      <div class="des-text">
        <ul id="proInfo" class="clearfix">
          <% @product.product_specifications.each do |specs| %>
            <li><span><%= specs.spec_key %>:</span><em class="c666"><%= specs.spec_value %></em>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="select_alls" id="sonProduce">
        <ul>
          <li data-size="Size" class="li_text">
            <div class="mr-2"> Color: </div> 
            <div class="w_100 colorcheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <%   @product.product_color_images.each_with_index do |color, index| %>
                <span class="color_image" style="height: 40px!important; padding-bottom: 35px !important;" data-title="<%= color.color %>" data-value="<%= color.color %>" id="color_checkbox_<%= index %>"  title="<%=color.color %>"><img title="<%=color.color %>" data-source="<%= color.image.url(:original) %>" src="<%= color.image.url(:thumb) %>" style="width: 30px; height: 30px;"></span>
              <% end %>
            </div>
          </li>
        </ul>
        <ul>
          <li data-size="Size" class="li_text">
            <div class="mr-2"> Size: </div>
            <div class="w_100 sizecheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <% @product.sizes.all.each_with_index do |size, index| %>
                <span data-title="<%= size.name %>" data-value="<%= size.name %>" id="size_checkbox_<%= index %>"><%= size.name %></span>
              <% end %>
            </div>
          </li>
        </ul>
         <p>
            <div class="col-sm-4 col-sm-offset-4">
              <div class="input-group mb-3">
                <span class="input-group-prepend">
                  <span> Quantity: </span> &nbsp
                  <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                  <input type="number" id="qty_input" name="Count" class="form-control form-control-sm" value="1" min="1" id="quantity_input">
                  <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
              <div class="input-group mb-3">
                <span class="input-group-prepend">
                  <span> Total Price: </span> &nbsp <span id="total_price"> <%= @product.price %> </span>
                </span>
              </div>
            </div>
        </p>
         <ul>
          <li data-size="Size" class="li_text">
            <p>Shipping:</p>
            <div class="w_100 shippingcheckbox">
              <input type="hidden" id="sizecheckboxvalue">
              <% ShippingPrice.all.each_with_index do |shipping, index| %>
                <span data-title="<%= shipping.name %>" data-value="<%= shipping.price %>" id="shipping_checkbox_<%= index %>"><%= shipping.name %></span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="sizechanginch undis" style="display: block;">
        <p id="sizeShow" data-toggle="collapse" data-target="#demo" class="collapse-title collapsed" style="border-bottom: 0px solid;">
          <!-- <span class="icon-add pull-right"> -->
          <!-- <img width="20" height="20" src="/assets/minus.png"> -->
          <!-- </span> -->
          <i class="fa" aria-hidden="true"></i>Size Guide</p>
        <div class="size undis collapse" id="demo">

          <div class="btn-group">
            <button id="size_table" type="button" data-flag="cm" class="btn btn-primary">Centimeters</button>
            <button id="size_inch" type="button" data-flag="inch" class="btn btn-default">inch</button>
            <button id="size_img" type="button" data-flag="img" class="btn btn-default">How To Measure</button>
          </div>
          <div class="fs16 ml15 pt15 fb indis">1(in)=2.5399(cm)</div>
          <div class="table-container">
            <div class="size_img" style="display: none;"><img src="https://gimg3.fbeads.us/produceSort/20170822/1503369203.jpg"></div>
            <table class="size_inch" style="display: none;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">35.88</td>
                <td class="size_change" data-key="Shoulder" data-init="37">14.43</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">23.01</td>
                <td class="size_change" data-key="Top Length" data-init="81">31.59</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">37.44</td>
                <td class="size_change" data-key="Shoulder" data-init="38">14.82</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">23.40</td>
                <td class="size_change" data-key="Top Length" data-init="82">31.98</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">39.00</td>
                <td class="size_change" data-key="Shoulder" data-init="39">15.21</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">23.79</td>
                <td class="size_change" data-key="Top Length" data-init="83">32.37</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">40.56</td>
                <td class="size_change" data-key="Shoulder" data-init="40">15.60</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">24.18</td>
                <td class="size_change" data-key="Top Length" data-init="84">32.76</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">42.12</td>
                <td class="size_change" data-key="Shoulder" data-init="41">15.99</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">24.57</td>
                <td class="size_change" data-key="Top Length" data-init="85">33.15</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">43.68</td>
                <td class="size_change" data-key="Shoulder" data-init="42">16.38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">24.96</td>
                <td class="size_change" data-key="Top Length" data-init="86">33.54</td>
              </tr>
              </tbody>
            </table>
            <table class="size_table" style="display: table;">
              <tbody>
              <tr>
                <td>Our Size</td>

                <td>Bust</td>

                <td>Shoulder</td>

                <td>Sleeve Length</td>

                <td>Top Length</td>
              </tr>
              <tr>
                <td>S</td>
                <td class="size_change" data-key="Bust" data-init="92">92</td>
                <td class="size_change" data-key="Shoulder" data-init="37">37</td>
                <td class="size_change" data-key="Sleeve Length" data-init="59">59</td>
                <td class="size_change" data-key="Top Length" data-init="81">81</td>
              </tr>
              <tr>
                <td>M</td>
                <td class="size_change" data-key="Bust" data-init="96">96</td>
                <td class="size_change" data-key="Shoulder" data-init="38">38</td>
                <td class="size_change" data-key="Sleeve Length" data-init="60">60</td>
                <td class="size_change" data-key="Top Length" data-init="82">82</td>
              </tr>
              <tr>
                <td>L</td>
                <td class="size_change" data-key="Bust" data-init="100">100</td>
                <td class="size_change" data-key="Shoulder" data-init="39">39</td>
                <td class="size_change" data-key="Sleeve Length" data-init="61">61</td>
                <td class="size_change" data-key="Top Length" data-init="83">83</td>
              </tr>
              <tr>
                <td>XL</td>
                <td class="size_change" data-key="Bust" data-init="104">104</td>
                <td class="size_change" data-key="Shoulder" data-init="40">40</td>
                <td class="size_change" data-key="Sleeve Length" data-init="62">62</td>
                <td class="size_change" data-key="Top Length" data-init="84">84</td>
              </tr>
              <tr>
                <td>XXL</td>
                <td class="size_change" data-key="Bust" data-init="108">108</td>
                <td class="size_change" data-key="Shoulder" data-init="41">41</td>
                <td class="size_change" data-key="Sleeve Length" data-init="63">63</td>
                <td class="size_change" data-key="Top Length" data-init="85">85</td>
              </tr>
              <tr>
                <td>XXXL</td>
                <td class="size_change" data-key="Bust" data-init="112">112</td>
                <td class="size_change" data-key="Shoulder" data-init="42">42</td>
                <td class="size_change" data-key="Sleeve Length" data-init="64">64</td>
                <td class="size_change" data-key="Top Length" data-init="86">86</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="proBtnbuy ow">
        <button type="button" class="add_to_cart_button" id="adding_products_in_cart">
          <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart
        </button>
        <button type="button" class="buy_now" id="buy_now"> Buy Now </button>
       
      </div>
      <% if check_favorite(@product.id) == true %>
          <%= link_to remove_favorite_path(product_id: @product.id), remote: true do %>
            <span class="fav product_fav active" id="in_product_<%=@product.id %>" style="margin-bottom: 0px;"><i class="fas fa-heart"></i></div>
          <% end %>
        <% else %>
          <%= link_to add_favorite_path(product_id: @product.id), remote: true do %>
            <span class="fav product_fav" id="in_product_<%=@product.id %>" style="margin-bottom: 0px;"><i class="fas fa-heart"></i></div>
          <% end %>
        <% end %>
    <%= @product.additional_information.html_safe if @product.additional_information.present? %>
    <div class="row">
    <div class="col-lg-12">
      <div class="pro-container">
        <div class="pro-container-header">
          <p>You May Also Like</p>
        </div>
        <div class="row">
          <% @related_products.each do |product| %>
            <div class="col-lg-2dot4">
              <div class="img-card">
                <a href="<%= product_path(id: product.id) %>"><img class="w-100" src="<%= product.product_images.first.image.url(:original) if product.product_images.present? %>" alt=""></a>
                <a href="<%= product_path(id: product.id) %>"><p class="red"><%= product.name %></p></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<%= form_for :add_product_to_cart, url: add_to_cart_path, :html => {:id => "cart_form_for"}, class: "header_search_form clearfix", method: :get do |f| %>
  <%= f.hidden_field :product_id, value: @product.id if @product.present? %>
  <%= f.hidden_field :quantity, value: 1 , id: "product_quantity_in_cart"%>
  <%= f.hidden_field :size, value: @product_size , id: "product_size_cart"%>
  <%= f.hidden_field :color, value: @product_colors , id: "product_color_cart"%>
  <%= f.hidden_field :shipping, value: @product_shipping , id: "product_shipping_cart"%>
<% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.js"></script>
<style>
  .title {
    color: black !important;
    font-size: 1.25em;
  }
  .pnl-packaging-main{
    display: none;
  }
    .transaction-feedback-main{
      display: none;
    }
    .ui-box-body{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
  .product-property-list {
    padding: 10px 0;
  }
  .util-clearfix {
    zoom: 1;
  }
  ul {
    list-style: disc;
  }
  .product-property-list li {
    position: relative;
    width: 50%;
    float: left;
    line-height: 16px;
    padding: 5px 0;
    list-style: none;
    margin-left: 0;
  }
  .product-property-list li .propery-title {
    float: left;
    color: #999;
    margin-right: 3px;
  }
  .product-property-list li .propery-des {
    float: left;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .ui-switchable-content{
      overflow-x: auto;
    }
  #origin-part > table:first-of-type {
    display: none;
  }
  .origin-part > table:first-of-type {
    display: none;
  }
  .origin-part > div:first-of-type {
    display: none;
  }
  .seller-discount-description{
    display: none;
  }
    .shipping-payment-main{
      display: none;
    }
</style>
<script>
  $(document).ready(function(){
    $('#qty_input').prop('disabled', true);
    $('#plus-btn').click(function(){
    $('#qty_input').val(parseInt($('#qty_input').val()) + 1 );
    var quantity = parseInt($('#qty_input').val());
    $("#total_price").text(quantity* <%= @product.price %>);
    });
    $('#minus-btn').click(function(){
      $('#qty_input').val(parseInt($('#qty_input').val()) - 1 );
      if ($('#qty_input').val() == 0) {
        $('#qty_input').val(1);
      }
      var quantity = parseInt($('#qty_input').val());
      $("#total_price").text(quantity* <%= @product.price %>);
    });
  });
    $( ".origin-part div:first-child" ).css("display","none");
    $('.origin-part table:first-child').css("display","none");
    $('.origin-part table').css("display","none");
    /* JS Document */

    /******************************

     [Table of Contents]

     1. Vars and Inits
     2. Set Header
     3. Init Custom Dropdown
     4. Init Page Menu
     5. Init Deals Slider
     6. Init Tab Lines
     7. Init Tabs
     8. Init Featured Slider
     9. Init Favorites
     10. Init ZIndex
     11. Init Popular Categories Slider
     12. Init Banner 2 Slider
     13. Init Arrivals Slider
     14. Init Arrivals Slider ZIndex
     15. Init Best Sellers Slider
     16. Init Trends Slider
     17. Init Reviews Slider
     18. Init Recently Viewed Slider
     19. Init Brands Slider
     20. Init Timer


     ******************************/

    $( document ).ready(function() {
        "use strict";

        /*

        1. Vars and Inits

        */

        var menuActive = false;
        var header = $('.header');

        setHeader();

        initCustomDropdown();
        initPageMenu();
        initDealsSlider();
        initTabLines();
        initFeaturedSlider();
        featuredSliderZIndex();
        initPopularSlider();
        initBanner2Slider();
        initFavs();
        initArrivalsSlider();
        arrivalsSliderZIndex();
        bestsellersSlider();
        initTabs();
        initTrendsSlider();
        initReviewsSlider();
        initViewedSlider();
        initBrandsSlider();
        initTimer();

        $(window).on('resize', function()
        {
            setHeader();
            featuredSliderZIndex();
            initTabLines();
        });

        /*

        2. Set Header

        */

        function setHeader()
        {
            //To pin main nav to the top of the page when it's reached
            //uncomment the following

            // var controller = new ScrollMagic.Controller(
            // {
            // 	globalSceneOptions:
            // 	{
            // 		triggerHook: 'onLeave'
            // 	}
            // });

            // var pin = new ScrollMagic.Scene(
            // {
            // 	triggerElement: '.main_nav'
            // })
            // .setPin('.main_nav').addTo(controller);

            if(window.innerWidth > 991 && menuActive)
            {
                closeMenu();
            }
        }

        /*

        3. Init Custom Dropdown

        */

        function initCustomDropdown()
        {
            if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
            {
                var placeholder = $('.custom_dropdown_placeholder');
                var list = $('.custom_list');
            }

            placeholder.on('click', function (ev)
            {
                if(list.hasClass('active'))
                {
                    list.removeClass('active');
                }
                else
                {
                    list.addClass('active');
                }

                $(document).one('click', function closeForm(e)
                {
                    if($(e.target).hasClass('clc'))
                    {
                        $(document).one('click', closeForm);
                    }
                    else
                    {
                        list.removeClass('active');
                    }
                });

            });

            $('.custom_list a').on('click', function (ev)
            {
                ev.preventDefault();
                var index = $(this).parent().index();

                placeholder.text( $(this).text() ).css('opacity', '1');

                if(list.hasClass('active'))
                {
                    list.removeClass('active');
                }
                else
                {
                    list.addClass('active');
                }
            });


            $('select').on('change', function (e)
            {
                placeholder.text(this.value);

                $(this).animate({width: placeholder.width() + 'px' });
            });
        }

        /*

        4. Init Page Menu

        */

        function initPageMenu()
        {
            if($('.page_menu').length && $('.page_menu_content').length)
            {
                var menu = $('.page_menu');
                var menuContent = $('.page_menu_content');
                var menuTrigger = $('.menu_trigger');

                //Open / close page menu
                menuTrigger.on('click', function()
                {
                    if(!menuActive)
                    {
                        openMenu();
                    }
                    else
                    {
                        closeMenu();
                    }
                });

                //Handle page menu
                // if($('.page_menu_item').length)
                // {
                //     var items = $('.page_menu_item');
                //     items.each(function()
                //     {
                //         var item = $(this);
                //         if(item.hasClass("has-children"))
                //         {
                //             item.on('click', function(evt)
                //             {
                //                 // evt.preventDefault();
                //                 // evt.stopPropagation();
                //                 var subItem = item.find('> ul');
                //                 if(subItem.hasClass('active'))
                //                 {
                //                     subItem.toggleClass('active');
                //                     TweenMax.to(subItem, 0.3, {height:0});
                //                 }
                //                 else
                //                 {
                //                     subItem.toggleClass('active');
                //                     TweenMax.set(subItem, {height:"auto"});
                //                     //TweenMax.from(subItem, 0.3, {height:0});
                //                 }
                //             });
                //         }
                //     });
                // }
            }
        }

        function openMenu()
        {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.set(menuContent, {height:"auto"});
            TweenMax.from(menuContent, 0.3, {height:0});
            menuActive = true;
        }

        function closeMenu()
        {
            var menu = $('.page_menu');
            var menuContent = $('.page_menu_content');
            TweenMax.to(menuContent, 0.3, {height:0});
            menuActive = false;
        }

        /*

        5. Init Deals Slider

        */

        function initDealsSlider()
        {
            if($('.deals_slider').length)
            {
                var dealsSlider = $('.deals_slider');
                dealsSlider.owlCarousel(
                    {
                        items:1,
                        loop:false,
                        navClass:['deals_slider_prev', 'deals_slider_next'],
                        nav:false,
                        dots:false,
                        smartSpeed:1200,
                        margin:30,
                        autoplay:false,
                        autoplayTimeout:5000
                    });

                if($('.deals_slider_prev').length)
                {
                    var prev = $('.deals_slider_prev');
                    prev.on('click', function()
                    {
                        dealsSlider.trigger('prev.owl.carousel');
                    });
                }

                if($('.deals_slider_next').length)
                {
                    var next = $('.deals_slider_next');
                    next.on('click', function()
                    {
                        dealsSlider.trigger('next.owl.carousel');
                    });
                }
            }
        }

        /*

        6. Init Tab Lines

        */

        function initTabLines()
        {
            if($('.tabs').length)
            {
                var tabs = $('.tabs');

                tabs.each(function()
                {
                    var tabsItem = $(this);
                    var tabsLine = tabsItem.find('.tabs_line span');
                    var tabGroup = tabsItem.find('ul li');

                    var posX = $(tabGroup[0]).position().left;
                    tabsLine.css({'left': posX, 'width': $(tabGroup[0]).width()});
                    tabGroup.each(function()
                    {
                        var tab = $(this);
                        tab.on('click', function()
                        {
                            if(!tab.hasClass('active'))
                            {
                                tabGroup.removeClass('active');
                                tab.toggleClass('active');
                                var tabXPos = tab.position().left;
                                var tabWidth = tab.width();
                                tabsLine.css({'left': tabXPos, 'width': tabWidth});
                            }
                        });
                    });
                });
            }
        }

        /*

        7. Init Tabs

        */

        function initTabs()
        {
            if($('.tabbed_container').length)
            {
                //Handle tabs switching

                var tabsContainers = $('.tabbed_container');
                tabsContainers.each(function()
                {
                    var tabContainer = $(this);
                    var tabs = tabContainer.find('.tabs ul li');
                    var panels = tabContainer.find('.panel');
                    var sliders = panels.find('.slider');

                    tabs.each(function()
                    {
                        var tab = $(this);
                        tab.on('click', function()
                        {
                            panels.removeClass('active');
                            var tabIndex = tabs.index(this);
                            $($(panels[tabIndex]).addClass('active'));
                            sliders.slick("unslick");
                            sliders.each(function()
                            {
                                var slider = $(this);
                                // slider.slick("unslick");
                                if(slider.hasClass('bestsellers_slider'))
                                {
                                    initBSSlider(slider);
                                }
                                if(slider.hasClass('featured_slider'))
                                {
                                    initFSlider(slider);
                                }
                                if(slider.hasClass('arrivals_slider'))
                                {
                                    initASlider(slider);
                                }
                            });
                        });
                    });
                });
            }
        }

        /*

        8. Init Featured Slider

        */

        function initFeaturedSlider()
        {
            if($('.featured_slider').length)
            {
                var featuredSliders = $('.featured_slider');
                featuredSliders.each(function()
                {
                    var featuredSlider = $(this);
                    initFSlider(featuredSlider);
                });

            }
        }

        function initFSlider(fs)
        {
            var featuredSlider = fs;
            featuredSlider.on('init', function()
            {
                var activeItems = featuredSlider.find('.slick-slide.slick-active');
                for(var x = 0; x < activeItems.length - 1; x++)
                {
                    var item = $(activeItems[x]);
                    item.find('.border_active').removeClass('active');
                    if(item.hasClass('slick-active'))
                    {
                        item.find('.border_active').addClass('active');
                    }
                }
            }).on(
                {
                    afterChange: function(event, slick, current_slide_index, next_slide_index)
                    {
                        var activeItems = featuredSlider.find('.slick-slide.slick-active');
                        activeItems.find('.border_active').removeClass('active');
                        for(var x = 0; x < activeItems.length - 1; x++)
                        {
                            var item = $(activeItems[x]);
                            item.find('.border_active').removeClass('active');
                            if(item.hasClass('slick-active'))
                            {
                                item.find('.border_active').addClass('active');
                            }
                        }
                    }
                })
                .slick(
                    {
                        rows:2,
                        slidesToShow:3,
                        slidesToScroll:3,
                        infinite:false,
                        arrows:false,
                        dots:true,
                        responsive:
                            [
                                {
                                    breakpoint:768, settings:
                                        {
                                            rows:2,
                                            slidesToShow:3,
                                            slidesToScroll:3,
                                            dots:true
                                        }
                                },
                                {
                                    breakpoint:575, settings:
                                        {
                                            rows:2,
                                            slidesToShow:2,
                                            slidesToScroll:2,
                                            dots:false
                                        }
                                },
                                {
                                    breakpoint:480, settings:
                                        {
                                            rows:1,
                                            slidesToShow:1,
                                            slidesToScroll:1,
                                            dots:false
                                        }
                                }
                            ]
                    });
        }

        /*

        9. Init Favorites

        */

        function initFavs()
        {
            // Handle Favorites
            var items = document.getElementsByClassName('product_fav');
            for(var x = 0; x < items.length; x++)
            {
                var item = items[x];
                item.addEventListener('click', function(fn)
                {
                    fn.target.classList.toggle('active');
                });
            }
        }

        /*

        10. Init ZIndex

        */

        function featuredSliderZIndex()
        {
            // Hide slider dots on item hover
            var items = document.getElementsByClassName('featured_slider_item');

            for(var x = 0; x < items.length; x++)
            {
                var item = items[x];
                item.addEventListener('mouseenter', function()
                {
                    $('.featured_slider .slick-dots').css('display', "none");
                });

                item.addEventListener('mouseleave', function()
                {
                    $('.featured_slider .slick-dots').css('display', "block");
                });
            }
        }

        /*

        11. Init Popular Categories Slider

        */

        function initPopularSlider()
        {
            if($('.popular_categories_slider').length)
            {
                var popularSlider = $('.popular_categories_slider');

                popularSlider.owlCarousel(
                    {
                        loop:true,
                        autoplay:false,
                        nav:false,
                        dots:false,
                        responsive:
                            {
                                0:{items:1},
                                575:{items:2},
                                640:{items:3},
                                768:{items:4},
                                991:{items:5}
                            }
                    });

                if($('.popular_categories_prev').length)
                {
                    var prev = $('.popular_categories_prev');
                    prev.on('click', function()
                    {
                        popularSlider.trigger('prev.owl.carousel');
                    });
                }

                if($('.popular_categories_next').length)
                {
                    var next = $('.popular_categories_next');
                    next.on('click', function()
                    {
                        popularSlider.trigger('next.owl.carousel');
                    });
                }
            }
        }

        /*

        12. Init Banner 2 Slider

        */

        function initBanner2Slider()
        {
            if($('.banner_2_slider').length)
            {
                var banner2Slider = $('.banner_2_slider');
                banner2Slider.owlCarousel(
                    {
                        items:1,
                        loop:true,
                        nav:false,
                        dots:true,
                        dotsContainer: '.banner_2_dots',
                        smartSpeed:1200
                    });
            }
        }

        /*

        13. Init Arrivals Slider

        */

        function initArrivalsSlider()
        {
            if($('.arrivals_slider').length)
            {
                var arrivalsSliders = $('.arrivals_slider');
                arrivalsSliders.each(function()
                {
                    var arrivalsSlider = $(this);
                    initASlider(arrivalsSlider);
                });

            }
        }

        function initASlider(as)
        {
            var arrivalsSlider = as;
            arrivalsSlider.on('init', function()
            {
                var activeItems = arrivalsSlider.find('.slick-slide.slick-active');
                for(var x = 0; x < activeItems.length - 1; x++)
                {
                    var item = $(activeItems[x]);
                    item.find('.border_active').removeClass('active');
                    if(item.hasClass('slick-active'))
                    {
                        item.find('.border_active').addClass('active');
                    }
                }
            }).on(
                {
                    afterChange: function(event, slick, current_slide_index, next_slide_index)
                    {
                        var activeItems = arrivalsSlider.find('.slick-slide.slick-active');
                        activeItems.find('.border_active').removeClass('active');
                        for(var x = 0; x < activeItems.length - 1; x++)
                        {
                            var item = $(activeItems[x]);
                            item.find('.border_active').removeClass('active');
                            if(item.hasClass('slick-active'))
                            {
                                item.find('.border_active').addClass('active');
                            }
                        }
                    }
                })
                .slick(
                    {
                        rows:2,
                        slidesToShow:4,
                        slidesToScroll:4,
                        infinite:false,
                        arrows:false,
                        dots:true,
                        responsive:
                            [
                                {
                                    breakpoint:768, settings:
                                        {
                                            rows:2,
                                            slidesToShow:3,
                                            slidesToScroll:3,
                                            dots:true
                                        }
                                },
                                {
                                    breakpoint:575, settings:
                                        {
                                            rows:2,
                                            slidesToShow:2,
                                            slidesToScroll:2,
                                            dots:false
                                        }
                                },
                                {
                                    breakpoint:480, settings:
                                        {
                                            rows:1,
                                            slidesToShow:1,
                                            slidesToScroll:1,
                                            dots:false
                                        }
                                }
                            ]
                    });
        }

        /*

        14. Init Arrivals Slider ZIndex

        */

        function arrivalsSliderZIndex()
        {
            // Hide slider dots on item hover
            var items = document.getElementsByClassName('arrivals_slider_item');

            for(var x = 0; x < items.length; x++)
            {
                var item = items[x];
                item.addEventListener('mouseenter', function()
                {
                    $('.arrivals_slider .slick-dots').css('display', "none");
                });

                item.addEventListener('mouseleave', function()
                {
                    $('.arrivals_slider .slick-dots').css('display', "block");
                });
            }
        }

        /*

        15. Init Best Sellers Slider

        */

        function bestsellersSlider()
        {
            if($('.bestsellers_slider').length)
            {
                var bestsellersSliders = $('.bestsellers_slider');
                bestsellersSliders.each(function()
                {
                    var bestsellersSlider = $(this);

                    initBSSlider(bestsellersSlider);
                })
            }
        }

        function initBSSlider(bss)
        {
            var bestsellersSlider = bss;

            bestsellersSlider.slick(
                {
                    rows:1,
                    infinite:true,
                    slidesToShow:3,
                    slidesToScroll:3,
                    arrows:false,
                    dots:true,
                    autoplay: true,
                    autoplaySpeed: 6000,
                    responsive:
                        [
                            {
                                breakpoint:1199, settings:
                                    {
                                        rows:1,
                                        slidesToShow:2,
                                        slidesToScroll:2,
                                        dots:true
                                    }
                            },
                            {
                                breakpoint:991, settings:
                                    {
                                        rows:1,
                                        slidesToShow:1,
                                        slidesToScroll:1,
                                        dots:true
                                    }
                            },
                            {
                                breakpoint:575, settings:
                                    {
                                        rows:1,
                                        slidesToShow:1,
                                        slidesToScroll:1,
                                        dots:false
                                    }
                            }
                        ]
                });
        }

        /*

        16. Init Trends Slider

        */

        function initTrendsSlider()
        {
            if($('.trends_slider').length)
            {
                var trendsSlider = $('.trends_slider');
                trendsSlider.owlCarousel(
                    {
                        loop:false,
                        margin:30,
                        nav:false,
                        dots:false,
                        autoplayHoverPause:true,
                        autoplay:false,
                        responsive:
                            {
                                0:{items:1},
                                575:{items:2},
                                991:{items:3}
                            }
                    });

                trendsSlider.on('click', '.trends_fav', function (ev)
                {
                    $(ev.target).toggleClass('active');
                });

                if($('.trends_prev').length)
                {
                    var prev = $('.trends_prev');
                    prev.on('click', function()
                    {
                        trendsSlider.trigger('prev.owl.carousel');
                    });
                }

                if($('.trends_next').length)
                {
                    var next = $('.trends_next');
                    next.on('click', function()
                    {
                        trendsSlider.trigger('next.owl.carousel');
                    });
                }
            }
        }

        /*

        17. Init Reviews Slider

        */

        function initReviewsSlider()
        {
            if($('.reviews_slider').length)
            {
                var reviewsSlider = $('.reviews_slider');

                reviewsSlider.owlCarousel(
                    {
                        items:3,
                        loop:true,
                        margin:30,
                        autoplay:false,
                        nav:false,
                        dots:true,
                        dotsContainer: '.reviews_dots',
                        responsive:
                            {
                                0:{items:1},
                                768:{items:2},
                                991:{items:3}
                            }
                    });
            }
        }

        /*

        18. Init Recently Viewed Slider

        */

        function initViewedSlider()
        {
            if($('.viewed_slider').length)
            {
                var viewedSlider = $('.viewed_slider');

                viewedSlider.owlCarousel(
                    {
                        loop:true,
                        margin:30,
                        autoplay:true,
                        autoplayTimeout:6000,
                        nav:false,
                        dots:false,
                        responsive:
                            {
                                0:{items:1},
                                575:{items:2},
                                768:{items:3},
                                991:{items:4},
                                1199:{items:6}
                            }
                    });

                if($('.viewed_prev').length)
                {
                    var prev = $('.viewed_prev');
                    prev.on('click', function()
                    {
                        viewedSlider.trigger('prev.owl.carousel');
                    });
                }

                if($('.viewed_next').length)
                {
                    var next = $('.viewed_next');
                    next.on('click', function()
                    {
                        viewedSlider.trigger('next.owl.carousel');
                    });
                }
            }
        }

        /*

        19. Init Brands Slider

        */

        function initBrandsSlider()
        {
            if($('.brands_slider').length)
            {
                var brandsSlider = $('.brands_slider');

                brandsSlider.owlCarousel(
                    {
                        loop:true,
                        autoplay:true,
                        autoplayTimeout:5000,
                        nav:false,
                        dots:false,
                        autoWidth:true,
                        items:8,
                        margin:42
                    });

                if($('.brands_prev').length)
                {
                    var prev = $('.brands_prev');
                    prev.on('click', function()
                    {
                        brandsSlider.trigger('prev.owl.carousel');
                    });
                }

                if($('.brands_next').length)
                {
                    var next = $('.brands_next');
                    next.on('click', function()
                    {
                        brandsSlider.trigger('next.owl.carousel');
                    });
                }
            }
        }

        /*

        20. Init Timer

        */

        function initTimer()
        {
            if($('.deals_timer_box').length)
            {
                var timers = $('.deals_timer_box');
                timers.each(function()
                {
                    var timer = $(this);

                    var targetTime;
                    var target_date;

                    // Add a date to data-target-time of the .deals_timer_box
                    // Format: "Feb 17, 2018"
                    if(timer.data('target-time') !== "")
                    {
                        targetTime = timer.data('target-time');
                        target_date = new Date(targetTime).getTime();
                    }
                    else
                    {
                        var date = new Date();
                        date.setDate(date.getDate() + 2);
                        target_date = date.getTime();
                    }

                    // variables for time units
                    var days, hours, minutes, seconds;

                    var h = timer.find('.deals_timer_hr');
                    var m = timer.find('.deals_timer_min');
                    var s = timer.find('.deals_timer_sec');

                    setInterval(function ()
                    {
                        // find the amount of "seconds" between now and target
                        var current_date = new Date().getTime();
                        var seconds_left = (target_date - current_date) / 1000;
                        // console.log(seconds_left);

                        // do some time calculations
                        days = parseInt(seconds_left / 86400);
                        seconds_left = seconds_left % 86400;

                        hours = parseInt(seconds_left / 3600);
                        hours = hours + days * 24;
                        seconds_left = seconds_left % 3600;


                        minutes = parseInt(seconds_left / 60);
                        seconds = parseInt(seconds_left % 60);

                        if(hours.toString().length < 2)
                        {
                            hours = "0" + hours;
                        }
                        if(minutes.toString().length < 2)
                        {
                            minutes = "0" + minutes;
                        }
                        if(seconds.toString().length < 2)
                        {
                            seconds = "0" + seconds;
                        }

                        // display results
                        h.text(hours);
                        m.text(minutes);
                        s.text(seconds);

                    }, 1000);
                });
            }
        }
    });
    /**
     * Unifies event handling across browsers
     *
     * - Allows registering and unregistering of event handlers
     * - Injects event object and involved DOM element to listener
     *
     * @author Mark Rolich <mark.rolich@gmail.com>
     */
    var Event = function () {
        "use strict";
        this.attach = function (evtName, element, listener, capture) {
            var evt         = '',
                useCapture  = (capture === undefined) ? true : capture,
                handler     = null;

            if (window.addEventListener === undefined) {
                evt = 'on' + evtName;
                handler = function (evt, listener) {
                    element.attachEvent(evt, listener);
                    return listener;
                };
            } else {
                evt = evtName;
                handler = function (evt, listener, useCapture) {
                    element.addEventListener(evt, listener, useCapture);
                    return listener;
                };
            }

            return handler.apply(element, [evt, function (ev) {
                var e   = ev || event,
                    src = e.srcElement || e.target;

                listener(e, src);
            }, useCapture]);
        };

        this.detach = function (evtName, element, listener, capture) {
            var evt         = '',
                useCapture  = (capture === undefined) ? true : capture;

            if (window.removeEventListener === undefined) {
                evt = 'on' + evtName;
                element.detachEvent(evt, listener);
            } else {
                evt = evtName;
                element.removeEventListener(evt, listener, useCapture);
            }
        };

        this.stop = function (evt) {
            evt.cancelBubble = true;

            if (evt.stopPropagation) {
                evt.stopPropagation();
            }
        };

        this.prevent = function (evt) {
            if (evt.preventDefault) {
                evt.preventDefault();
            } else {
                evt.returnValue = false;
            }
        };
    };
    // document.documentElement.setAttribute("lang", "en");
    // document.documentElement.removeAttribute("class");

    // axe.run(function (err, results) {
    //     console.log(results.violations);
    // });
    $(document).ready(function () {
        $(".size button").mouseover(function () {
            var allButtons = document.querySelectorAll('.size button');
            for (var i = 0; i < allButtons.length; i++) {
                if (allButtons[i].id === this.id) {
                    allButtons[i].className = 'btn btn-primary';
                    var showMe = document.getElementsByClassName(allButtons[i].id);
                    showMe[0].style.display = 'block';
                } else {
                    var showMe = document.getElementsByClassName(allButtons[i].id);
                    showMe[0].style.display = 'none';
                    allButtons[i].className = 'btn btn-default';
                }

            }
        });
        $(document).ready(function () {
          $('#carousel-thumb-hover li')[0].click();
        });
        $('#carousel-thumb-hover li').mouseover(function () {
          $(".carousel-item").find('img').attr('src',$(this).find('img').attr('data-source'));
        });
        $(".color_image").click(function(e){
        $(".carousel-item").find('img').attr('src',$(this).find('img').attr('data-source'));
    });



        $('.zoome').mouseover(function () {
            $('#' + this.id).elevateZoom();
        });

        $('a.go-right').click(function () {
            var pos = $('#carousel-thumb-hover').scrollLeft() + 300;
            $('#carousel-thumb-hover').animate({
                scrollLeft: pos
            }, 1000, 'easeOutQuad');
        });

        $('a.go-left').click(function () {
            var pos = $('#carousel-thumb-hover').scrollLeft() - 300;
            $('#carousel-thumb-hover').animate({
                scrollLeft: pos
            }, 1000, 'easeOutQuad');
        });

        $('.sizecheckbox span').click(function () {
            var allspan = document.querySelectorAll('.sizecheckbox span');
            for (var i = 0; i < allspan.length; i++) {
                allspan[i].className = '';
            }
            $(this).addClass('hovers');
            $('#sizecheckboxvalue').val($(this).attr("data-title"));
        });
        $('.colorcheckbox span').click(function () {
            var allspan = document.querySelectorAll('.colorcheckbox span');
            for (var i = 0; i < allspan.length; i++) {
                allspan[i].className = '';
            }
            $(this).addClass('hovers');
            $('#colorcheckbox').val($(this).attr("data-title"));
        });
        $('.shippingcheckbox span').click(function () {
            var allspan = document.querySelectorAll('.shippingcheckbox span');
            for (var i = 0; i < allspan.length; i++) {
                allspan[i].className = '';
            }
            $(this).addClass('hovers');
            $('#shippingcheckbox').val($(this).attr("data-title"));
        });
    });
    $( document ).ready(function() {
        $('#product_large_0').addClass('active');
        $('#product_small_0').addClass('active');
        $("#size_checkbox_0").click();
        $("#color_checkbox_0").click();
        $("#shipping_checkbox_0").click();
        $('.shippingcheckbox span').click(function(){
            $("#product_shipping_cart").val($(this).data('value'));
        });
        $('.colorcheckbox span').click(function(){
            $("#product_color_cart").val($(this).data('value'));
        });
        $('.sizecheckbox span').click(function(){
            $("#product_size_cart").val($(this).data('value'));
        });
        var el =document.querySelector("#quantity_input")
        if (el) {
          el.addEventListener("change",function () {
            $("#product_quantity_in_cart").val($(this).val());
          });
        }
        $(document).on("click", "#adding_products_in_cart", function(e) {
            $("#adding_products_in_cart").html('Adding to cart...');
            $("#adding_products_in_cart").prop('disabled', true);
            $("#cart_form_for").submit();
        });
        $(document).on("click", "#buy_now", function(e) {
            $("#buy_now").prop('disabled', true);
            $("#cart_form_for").submit();
            setTimeout(function() {
              window.location.href = "<%= checkout_path(value: "review_order") %>"
            }, 1000);
        });
    });

  $( document ).ready(function() {
    console.log("In itttttts")
    $("#qty_input" ).on('change', function() {
      alert( "Handler for .change() called." );
      console.log("Faratattaatat")
    });
  })
</script>
