<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">Product list</h2>
                <%= link_to add_product_path, class: "au-btn au-btn-icon au-btn--blue", target: 'blank' do  %>
                    <i class="zmdi zmdi-plus"></i>Add Product
                <% end %>
              </div>
            </div>
          </div>
          <%= form_tag product_list_path, method: :get do %>
            <%= text_field_tag :search, "" %>
            <%= submit_tag 'Search' %>
          <% end %>
          <br>
          <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
              <thead>
              <tr>
                <th>ID</th>
                <th> Image </th>
                <th>Actions</th>
                <th>Supplier URL</th>
                <th>name</th>
                <th class="text-right">Description</th>
                <th class="text-right">Sku</th>
                <th>Price($)</th>
                <th>Additional Information</th>
                <th class="text-right">Store</th>
                <th class="text-right">Brand</th>
                <th class="text-right">Category</th>
                <th class="text-right">Sub Category</th>
                <th class="text-right">Product Type</th>
                <th class="text-right">Product Colors</th>
                <th class="text-right">Product Sizes</th>
                <th class="text-right">Sale</th>
                <th>Active</th>
                <th class="text-right">Approved</th>
                <th class="text-right">Created at</th>
              </tr>
              </thead>
              <tbody>
              <% @products.each do |product| %>
                  <tr>
                    <td><%= product.id %></td>
                      <td><%= image_tag product.product_images.take.image.url(:medium) if product.product_images.present? %></td>
                    <td><%= link_to "edit", edit_product_path(product_id: product.id), target: 'blank' %> <%= link_to "Delete", delete_product_path(id: product.id) %></td>
                    <td><a href="<%= product.supplier_url if product.present? %>" target="_blank">Supplier URL</a></td>
                      <td><%= product.name %></td>
                      <td><pre><%= product.description %></pre></td>
                      <td class="text-right"><%= product.sku %></td>
                      <td><%= product.price %></td>
                      <td><%= product.additional_information %></td>
                      <td><%= product.store.name if product.store.present? %></td>
                      <td><%= product.brand.name if product.brand.present?%></td>
                      <td><%= product.category.name if product.category.present? %></td>
                      <td class="text-right"><%= product.sub_category.name %></td>
                      <td><%= product.product_type.name if product.product_type.present?%></td>
                      <td><%= product.colors.collect { |o| o.name }.join(", ") %></td>
                      <td><%= product.sizes.collect { |o| o.name }.join(", ")%></td>
                      <td class="text-right"><%= product.sale %></td>
                      <td><%= product.active %></td>
                      <td><%= product.approved %></td>
                      <td class="text-right"><%= product.created_at %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= paginate @products, theme: 'twitter-bootstrap-4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $( document ).ready(function() {
        $("#product_list").dataTable();
    });
</script>
