<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="contact_form_container">
          <div class="form-top">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>
                <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                  <%= f.label :password, "New password" %><br />
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
                </div>
                <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                  <%= f.label :password_confirmation, "Confirm new password" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
                <div class="contact_form_button">
                  <%= f.submit "Chnage my password", class: 'button contact_submit_button' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <img src="/assets/logoo 3.png" class="mt-5 pt-5" width="100%">
      </div>
    </div>
  </div>
</div>
