<%= link_to new_personal_message_path(receiver_id: User.admin) do %>
  <div class="contact-us d-none d-sm-block">
    <i class="fa fa-comments" aria-hidden="true"></i>Live support agent</span>
  </div>
<% end %>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="copyright_container flex-sm-row flex-column align-items-center justify-content-start">
          <div class="copyright_content">
            <%# Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Usama Ashraf</a> %>
            <div class="row">
              <div class="col-lg-9 col-md-8">
                  <div class="mini-footer__links">
                    <nav role="navigation" class="mini-footer__nav">
                      <ul>
                        <li>
                          <a href="<%= about_us_path %>" data-lid="ft_cou">About us</a>
                        </li>
                        <li>
                          <a href="<%= contact_us_path %>" data-lid="ft_pp">Contact us</a>
                        </li>
                        <li>
                          <a href="<%= terms_of_use_path %>" data-lid="ft_ip">Terms of use</a>
                        </li>
                        <li>
                          <a href="<%= about_us_path %>" data-lid="ft_cou">Sitemap</a>
                        </li>
                        <li>
                          <a href="<%= discount_policy_path %>" data-lid="ft_ip">Discount Policy</a>
                        </li>
                        <li>
                          <a href="<%= return_path %>" data-lid="ft_cou">Return Policy</a>
                        </li>
                        <li>
                          <a href="<%= privacy_policy_path %>" data-lid="ft_pp">Privacy notice</a>
                        </li>
                        <li>
                          <a href="<%= shipping_help_path %>" data-lid="ft_ip">How long to receive your order?</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="logos ml-sm-auto">
                  <ul class="logos_list">
                    <li><a href="#"><img src="/assets/logos_1.png" alt=""></a></li>
                    <li><a href="#"><img src="/assets/logos_2.png" alt=""></a></li>
                    <li><a href="#"><img src="/assets/logos_3.png" alt=""></a></li>
                    <li><a href="#"><img src="/assets/logos_4.png" alt=""></a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
