<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/assets/phone.png" alt=""></div>+16266150262</div>
          <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="/assets/mail.png" alt=""></div><a href="mailto:talotsing@gmail.com">talotsing@gmail.com</a></div>
          <div class="top_bar_content ml-auto">
<!--            <div class="top_bar_menu">-->
<!--              <ul class="standard_dropdown top_bar_dropdown">-->
<!--                <li>-->
<!--                  <a href="#">English<i class="fas fa-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">Italian</a></li>-->
<!--                    <li><a href="#">Spanish</a></li>-->
<!--                    <li><a href="#">Japanese</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">EUR Euro</a></li>-->
<!--                    <li><a href="#">GBP British Pound</a></li>-->
<!--                    <li><a href="#">JPY Japanese Yen</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
            <div class="top_bar_user">
              <% if current_user.present? %>
                  <div class="user_icon"><img src="/assets/user.svg" alt=""></div>
                  <div><%= current_user.full_name %></div>
                  <div><a href="<%= dashboards_path%>">Dashboard</a></div>
              <% else %>
                  <div class="user_icon"><img src="/assets/user.svg" alt=""></div>
                  <div><a href="<%= new_user_registration_path %>">Register</a></div>
                  <div><a href="<%= user_session_path %>">Sign in</a></div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Main -->

  <div class="header_main" style="background-color: #232f3e;">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a href="<%= root_path %>"><img src="/assets/logoo 3.png"></a></div>
          </div>
        </div>

        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <%= form_for :search_product, url: shop_path, class: "header_search_form clearfix", method: :get do |f| %>
                <!--<form action="#" class="header_search_form clearfix">-->
                    <%= f.text_field :keyword, class: "header_search_input", required: false, placeholder: "Search for products..." %>
                    <%= f.hidden_field :category, id: "search_category" %>
                  <!--<input type="search" required="required" class="header_search_input" placeholder="Search for products...">-->
                  <div class="custom_dropdown" style="background-color: white;">
                    <div class="custom_dropdown_list">
                      <span class="custom_dropdown_placeholder clc">All Categories</span>
                      <i class="fas fa-chevron-down"></i>
                      <ul class="custom_list clc" id="category_search_params">
                        <% Category.all.each do |category| %>
                            <li><a class="clc" data-value="<%= category.id %>" ><%= category.name %></a></li>
                        <% end %>
                        <!--<li><a class="clc" href="#">Computers</a></li>-->
                        <!--<li><a class="clc" href="#">Laptops</a></li>-->
                        <!--<li><a class="clc" href="#">Cameras</a></li>-->
                        <!--<li><a class="clc" href="#">Hardware</a></li>-->
                        <!--<li><a class="clc" href="#">Smartphones</a></li>-->
                      </ul>
                    </div>
                  </div>
                  <button type="submit" class="header_search_button trans_300" value="Submit" style="background-color: #febd69;"><img src="/assets/search.png" alt=""></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <a href="<%= my_favorites_path %>"><div class="wishlist_icon"><img src="/assets/heart.png" alt=""></div></a>
              <div class="wishlist_content">
                <div class="wishlist_text"><a href="<%= my_favorites_path %>" style="    color: #ffffff;">My Favorites</a></div>
                <% if !session[:favorites].nil? %>
                <div class="wishlist_count" style="color: #ffffff;"><%= session[:favorites].count if !session[:favorites].nil? %></div>
                <% elsif current_user.present? %>
                    <div class="wishlist_count" style="color: #ffffff;"><%= current_user.user_favorites.count if current_user.user_favorites.present? %></div>
                <% end %>
              </div>
            </div>

            <!-- Cart -->
            <a href="<%= cart_path %>">
              <div class="cart">
                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                  <div class="cart_icon">
                    <img src="/assets/cart.png" alt="">
                    <% if !session[:shop_cart].nil? %>
                      <div class="cart_count" style="background-color: #febd69; "><span style="color: black;"><%= session[:shop_cart].count if !session[:shop_cart].nil? %></span></div>
                    <% elsif current_user.present? %>
                      <div class="cart_count" style="background-color: #febd69; "><span style="color: black;"><%= current_user.orders.where(status: "pending").last.order_items.count if current_user.orders.where(status: "pending").present? %></span></div>
                    <% end %>
                  </div>
                  <div class="cart_content">
                    <% if current_user.present? && current_user.orders.where(status: "pending").present? %>
                      <div class="cart_text"><a href="<%= cart_path %>" style="    color: #ffffff;">Cart</a></div>
                      <div class="cart_price" style="color: #ffffff;"><%= number_to_currency(cart_total) %></div>
                    <% elsif !session[:shop_cart].nil? %>
                      <div class="cart_text"><a  href="<%= cart_path %>" style=" color: #ffffff;">Cart</a></div>
                      <div class="cart_price" style="color: #ffffff;"><%= number_to_currency(cart_total) if !session[:shop_cart].nil? %></div>
                    <% else %>
                      <div class="cart_text"><a  style="    color: #ffffff;">Cart</a></div>
                      <div class="cart_price" style="color: #ffffff;">$0</div>
                    <% end %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="main_nav_content d-flex flex-row">

            <!-- Categories Menu -->

            <div class="cat_menu_container" style="background-color: #232f3e;">
              <% if mobile? %>
                <!---- Mobile NAV Bar ----->
                <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start" onclick="click_menu();">
                  <div class="cat_burger"><span></span><span></span><span></span></div>
                  <div class="cat_menu_text">Departments</div>
                </div>
                <% else %>
                  <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                    <div class="cat_burger"><span></span><span></span><span></span></div>
                    <div class="cat_menu_text">Departments</div>
                    <div class="pl-5"style="font: 12px; color:white;">See All ></div>
                  </div>
                  <ul class="cat_menu">
                  <!--<li><a href="#">Computers & Laptops <i class="fas fa-chevron-right ml-auto"></i></a></li>-->
                  <!--<li><a href="#">Cameras & Photos<i class="fas fa-chevron-right"></i></a></li>-->
                  <% Category.all.order(:created_at).each do |category| %>
                    <li class="hassubs">
                      <a href="<%= sub_categories_path(category: category.id)%>" style="font-size: 17px!important;">
                        <img src="<%= category.image(:original)%>" alt="icon" class="img-responsive">
                        <%= category.name %></a>
                      <div class="headerCate_contain">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="row">
                                <% category.sub_categories.order(:ui_order).each do |sub_category| %>
<!--                                  category.sub_categories.joins(:product_types).group('sub_categories.id').order('count(product_types.sub_category_id) DESC')-->
                                  <% if sub_category.product_types.count > 0 %>
                                <div class="col-md-4 col-lg-4">
                                  <div class="row">
                                    <dl>
                                      <dt>
                                        <a class="headerCate_subTitle" href="<%= product_types_path(sub_category: sub_category.id)%>"><%= sub_category.name %><hr id="break_line"></a>
                                      </dt>
                                      <% sub_category.product_types.order(:ui_id).each do |product_type| %>
                                        <dd style="margin: 15px 0;">
                                          <a class="headerCate_subList" href="<%= shop_path(product_type: product_type.id)%>" style="font-size: 12px!important;"><%= product_type.name %></a>
                                        </dd>
                                      <% end %>
                                    </dl>
                                  </div>
                                </div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                            <div class="col-md-4">
<!--                              <a href=""><%# if category.products.sample(1).first.product_images.first.present? %><img src="<%#= category.products.sample(1).first.product_images.first.image.url if category.products.present? && category.products.sample(1).first.product_images.present? %>" style="width: 100%"><%# end %></a>-->
                            </div>
                            </div>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <% end %>

            </div>

            <!-- Main Nav Menu -->

            <div class="main_nav_menu ml-auto">
              <ul class="standard_dropdown main_nav_dropdown">
                <li class="hassubs">
                  <a href="#">Fine Jewelry<i class="fas fa-chevron-down"></i></a>
                  <ul>
                   <% get_fine_jewlery_products.each do |jewelry| %>
                      <li><a href="<%= shop_path(product_type: jewelry.id)%>"><%= jewelry.name %><i class="fas fa-chevron-down"></i></a></li>
                   <% end %>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Toys&Hobbies<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <% get_toys_and_hobbies_products.each do |product_type| %>
                      <li><a href="<%= shop_path(product_type: product_type.id)%>"><%= product_type.name %><i class="fas fa-chevron-down"></i></a></li>
                    <% end %>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Mobile Phone Accessories<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <% get_mobile_phone_accessories_products.each do |product_type| %>
                      <li><a href="<%= shop_path(product_type: product_type.id)%>"><%= product_type.name %><i class="fas fa-chevron-down"></i></a></li>
                    <% end %>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Makeup<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <% get_makeup_products.each do |product_type| %>
                      <li><a href="<%= shop_path(product_type: product_type.id)%>"><%= product_type.name %><i class="fas fa-chevron-down"></i></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>

            <!-- Menu Trigger -->

            <div class="menu_trigger_container ml-auto">
              <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                <div class="menu_burger">
                  <div class="menu_trigger_text">menu</div>
                  <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Menu -->

  <div class="page_menu">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="page_menu_content" style="background-color: #232f3e;">

            <div class="page_menu_search">
              <%= form_for :search_product, url: shop_path,:html => {:id => "mobile_form"}, method: :get do |f| %>
                <%= f.text_field :keyword, class: "page_menu_search_input", id: "mobile_search", required: false, placeholder: "Search for products..." %>
              <% end %>
            </div>
            <ul class="page_menu_nav">
              <li class="page_menu_item">
                <a href="<%= root_path %>">Home<i class="fa fa-angle-down"></i></a>
              </li>
              <% Category.all.order(:created_at).each do |category| %>
                  <a href="<%= sub_categories_path(category: category.id)%>" style="float:left; width: 75%"><%= category.name %></a><i class="fa fa-angle-down mbl_cls_li" style="float: right;
                    font-size: 25px;
                    margin-top: 17px;
                    color: white;"></i>
                  <ul class="page_menu_selection">
                    <% category.sub_categories.order(:ui_order).each do |sub_category| %>
                      <% if sub_category.product_types.count > 0 %>
                      <div class = "col-lg-4">
                        <li class="page_menu_item has-children">
                          <a href="<%= product_types_path(sub_category: sub_category.id)%>" style="float:left; width: 75%"><%= sub_category.name %></a><i class="fa fa-angle-down mbl_cls_li" style="float: right;
                            font-size: 25px;
                            margin-top: 17px;
                            color: white;"></i>
                          <ul class="page_menu_selection">
                            <% sub_category.product_types.order(:ui_id).each do |product_type| %>
                              <li><a href="<%= shop_path(product_type: product_type.id)%>"><%= product_type.name %><i class="fa fa-angle-down" style="    float: right;
                                  font-size: 25px;
                                  margin-top: 17px;
                                  color: white;"></i></a></li>
                            <%end %>
                          </ul>
                      </div>
                      <% end %>
                    <% end %>

                  </ul>
                </li>
              <% end %>

<!--              <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>-->
<!--              <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>-->
            </ul>

            <div class="menu_contact">
              <div class="menu_contact_item"><div class="menu_contact_icon"><img src="/assets/phone_white.png" alt=""></div>+16266150262</div>
              <div class="menu_contact_item"><div class="menu_contact_icon"><img src="/assets/mail_white.png" alt=""></div><a href="talotsing:talotsing@gmail.com">talotsing@gmail.com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


<style>
  .header_search_input{
    height: 50px;
  }
  #break_line{
    display: block;
    color: black;
    margin-top: 0.5em;
    border-top: 1px solid #090909;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  .main_nav_dropdown li a {
    color: #000000;
  }
  @media only screen and (max-width: 767px){
    .main_nav_content{
      background-color: #232f3e;
    }
  }
</style>
<script>
    $(document).on("click", "#category_search_params li a", function() {
        $("#search_category").val($(this).data("value"));
        console.log($("#search_category").val());
    });
    var acc = document.getElementsByClassName("mbl_cls_li");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var mbl_panel = $(this).next('ul.page_menu_selection');
            if(mbl_panel.hasClass('active'))
              {
                  mbl_panel.toggleClass('active');
                  TweenMax.to(mbl_panel, 0.3, {height:0});
              }
              else
              {
                  mbl_panel.toggleClass('active');
                  TweenMax.set(mbl_panel, {height:"auto"});
                  TweenMax.from(mbl_panel, 0.3, {height:0});
              }
        });
    }
    function click_menu() {
        $(".menu_trigger").click();
    }
    $("#mobile_search").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#mobile_form").submit();
        }
    });
</script>
