<!DOCTYPE html>
<html>
<head>
  <title>Talotsing</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Talotsing shopping website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'iconn.png' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'product_application', media: 'all'  %>
  <%= javascript_include_tag 'product_application'  %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyA7R9zKzT38smEBHrcOKVF4iaKpZND09Hk" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body data-turbolinks="false">
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="super_container">
  <%= render 'layouts/partials/header_web' %>
  <%= yield %>
  <%= render 'layouts/partials/copyright_web' %>
</div>
</body>
</html>
