<!DOCTYPE html>
<html>
<head>
  <title>Talotsing</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Talotsing shopping website">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'purchase_application', media: 'all'  %>
  <%= javascript_include_tag 'purchase_application'  %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyA7R9zKzT38smEBHrcOKVF4iaKpZND09Hk" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body data-turbolinks="false">
<div class="super_container">
  <%= render 'layouts/partials/header_web' %>
  <%= yield %>
  <%= render 'layouts/partials/newsletter_web' %>
  <%= render 'layouts/partials/footer_web' %>
  <%= render 'layouts/partials/copyright_web' %>
</div>

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>-->
<!--<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>-->
<!-- or -->
<!--<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/ScrollToPlugin.min.js"></script>-->
</body>
</html>
