<!DOCTYPE html>
<html>
  <head>
    <title>Talotsing</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Talotsing shopping website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'iconn.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'user_dashboard_application' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyA7R9zKzT38smEBHrcOKVF4iaKpZND09Hk" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= content_for?(:head) ? yield(:head) : '' %>
  </head>

  <body data-turbolinks="false">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <div class="super_container">
    <%= render 'layouts/partials/search_bar' %>
    <%= render 'layouts/partials/user_dashboard_nav_bar' %>
    <%#= yield :sidebar %>
    <%= yield %>
    <%= render 'layouts/partials/footer_web' %>
    <%= render 'layouts/partials/copyright_web' %>

  </div>
  <% content_for :head do %>
      <meta name="turbolinks-cache-control" content="no-cache">
  <% end %>
  </body>
</html>

<style>
  .header_search_input{
    height: 50px;
  }
  #break_line{
    display: block;
    color: black;
    margin-top: 0.5em;
    border-top: 1px solid #090909;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  .main_nav_dropdown li a {
    color: #000000;
  }
  @media only screen and (max-width: 767px){
    .main_nav_content{
      background-color: #232f3e;
    }
    .custom_dropdown_placeholder {
      font-size: 12px;
    }
    .custom_list li {
      font-size: 8px
    }
  }
</style>
<script>
    $(document).on("click", "#category_search_params li a", function() {
        $("#search_category").val($(this).data("value"));
        console.log($("#search_category").val());
    });
    var acc = document.getElementsByClassName("mbl_cls_li");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var mbl_panel = $(this).next('ul.page_menu_selection');
            if(mbl_panel.hasClass('active'))
              {
                  mbl_panel.toggleClass('active');
                  TweenMax.to(mbl_panel, 0.3, {height:0});
              }
              else
              {
                  mbl_panel.toggleClass('active');
                  TweenMax.set(mbl_panel, {height:"auto"});
                  TweenMax.from(mbl_panel, 0.3, {height:0});
              }
        });
    }
    function click_menu() {
        $(".menu_trigger").click();
    }
    $("#mobile_search").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#mobile_form").submit();
        }
    });
</script>
