<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="contact_form_container">
          <div class="contact_form_title">Sign Up</div>
          <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
              <%= devise_error_messages! %>

              <%= f.hidden_field :profile_type, :value => "customer", id: "custome_vendor" %>
              <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <%= f.text_field :first_name, autofocus: true, class: "contact_form_name input_field", placeholder: "First Name", required: true %>
            </div>
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <%= f.text_field :last_name, autofocus: true, class: "contact_form_name input_field", placeholder: "Last Name", required: true %>
            </div>
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <%= f.email_field :email, autofocus: true, class: "contact_form_name input_field", placeholder: "Your Email", required: true %>

            </div>
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <%= f.text_field :password, autofocus: true, class: "contact_form_name input_field", placeholder: "Password", required: true %>
            </div>
            <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
              <%= f.text_field :password_confirmation, autofocus: true, class: "contact_form_name input_field", placeholder: "Password Confirmation", required: true %>
            </div>
              <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                <label class="category-select">
                  <%= check_box_tag "user_profile_type", :user_type %>
                  Signing up as vendor
                </label>

              </div>
            <div class="contact_form_button">
              <%= f.submit "Sign Up", class: "button contact_submit_button" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <div class="panel"></div>
</div>
<script>
    $('#user_profile_type').click(function() {
        if ($(this).is(':checked')) {
            $("#custome_vendor").val("vendor");
        }
        else{
            $("#custome_vendor").val("customer");
        }
    });
</script>